@using Veritrade2017.Models
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var idiomaMoneda = culture.Equals("es") ? CultureInfoExtensions.CreateSpecificCulture("es-pe") : CultureInfoExtensions.CreateSpecificCulture("en-us");
    var uri = "";
    if (culture == "es")
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 10);
    }
    else
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 9);
    }
    //  var seoConf = ConfiguracionesSeo.GetConfig(culture, uri);


    Layout = "~/Views/Shared/_Layout.cshtml";

    //   var codPaisIp = Session["IPPaisIngreso"].ToString();
    //   var fontSize = codPaisIp == "CL" ? "style=font-size:25px" : "";
}

<style>
    .tooltipx {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltipx .tooltiptext {
            visibility: hidden;
            width: 320px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
            /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
            opacity: 0;
            transition: opacity 1s;
        }

        .tooltipx:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>


<div class="container">
    <div class="row" style="padding-left:20px; padding-left:55px; padding-bottom: 20px">
        <h4>@ViewBag.SubcategoriaProducto   </h4>
    </div>
  
    <div class="row">
        <div class="col-md-3">
            <ul style="list-style: none;">
                @foreach (var item in ViewBag.MiLista0)
                {
                 
                    <li>
                        @if (culture == "es")
                        {
                            <div class="tooltipx">
                                <a href="@item.UriES"> @item.ShortDescripcionES</a>
                                <span class="tooltiptext">@item.DescripcionES</span>
                            </div>

                        }
                        else
                        {
                            <a href="@item.UriEN"> @item.ShortDescripcionEN</a>

                        }
                    </li>
                }

            </ul>
        </div>
        <div class="col-md-3">
            <ul style="list-style: none;">
                @foreach (var item in ViewBag.MiLista1)
                {

                    <li>
                        @if (culture == "es")
                        {
                            <div class="tooltipx">
                                <a href="@item.UriES"> @item.ShortDescripcionES</a>
                                <span class="tooltiptext">@item.DescripcionES</span>
                            </div>

                        }
                        else
                        {
                            <a href="@item.UriEN"> @item.ShortDescripcionEN</a>

                        }
                    </li>
                }

            </ul>
        </div>
        <div class="col-md-3">
            <ul style="list-style: none;">
                @foreach (var item in ViewBag.MiLista2)
                {

                    <li>
                        @if (culture == "es")
                        {
                            <div class="tooltipx">
                                <a href="@item.UriES"> @item.ShortDescripcionES</a>
                                <span class="tooltiptext">@item.DescripcionES</span>
                            </div>

                        }
                        else
                        {
                            <a href="@item.UriEN"> @item.ShortDescripcionEN</a>

                        }
                    </li>
                }

            </ul>
        </div>
        <div class="col-md-3">
            <ul style="list-style: none;">
                @foreach (var item in ViewBag.MiLista3)
                {

                    <li>
                        @if (culture == "es")
                        {
                            <div class="tooltipx">
                                <a href="@item.UriES"> @item.ShortDescripcionES</a>
                                <span class="tooltiptext">@item.DescripcionES</span>
                            </div>

                        }
                        else
                        {
                            <a href="@item.UriEN"> @item.ShortDescripcionEN</a>

                        }
                    </li>
                }

            </ul>
        </div>
    </div>

</div>