@using Veritrade2017.Models
@using Veritrade2017.Models.CountryProfile

@{
    var ruta1 = "";
    var ruta2 = "";
    var ruta3 = "";
    var ruta4 = "";
    string nombreMobile = "";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var idiomaMoneda = culture.Equals("es") ? CultureInfoExtensions.CreateSpecificCulture("es-pe") : CultureInfoExtensions.CreateSpecificCulture("en-us");
    var uri = "";
    string breadName = (String.Format("{0} {1}", @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString(), @ViewBag.Pais));
    string breadNameShort = String.Format("{0}", @ViewBag.PaisCap);
    if (culture == "es")
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 10);
    }
    else
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 9);
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    List<BannerGeneral> ListaEmpresaBanner = ViewBag.BannerEmpresa;
    List<BannerGeneral> ListaProductoBanner = ViewBag.BannerProducto;
    List<ExportacionCardInfoD> ListadoExportacionesEmpresa = ViewBag.ListadoExportacionesEmpresa;
    List<ExportacionCardInfoD> ListadoExportacionesProducto = ViewBag.ListadoExportacionesProducto;
    List<ExportacionCardInfoD> ListadoImportacionesEmpresa = ViewBag.ListadoImportacionesProducto;
    List<ExportacionCardInfoD> ListadoImportacionesProducto = ViewBag.ListadoImportacionesProducto;
    List<SubDetalleHeaderyDetalle> LSCT = ViewBag.LSCT;
    int contador = 0;
    string listaidstr = "";
    string listaidstr2 = "";

}


@section Styles{


    <link href="@Url.Content("~/Content/Assets/loadingProductProfile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/OwlCarousel2-2.2.1/assets/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/CustomCountryProfile.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Responsive.css")" rel="stylesheet" />
    <link href=@Url.Content("~/Content/Components/ui-autocomplete.css") rel="stylesheet" />

    <!-- Icon font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" defer type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/admin.js")"></script>
    <script src="@Url.Content("~/Scripts/misproductos.js")"></script>

    <script type="text/javascript">
       $(document).ready(function () {

           //getExportacionesEmpresa2();
           //GetDataChart();
           var flag = true;
           //var cont = 10;
           //setTimeout(console.log("HASDASDASDSS"), 3000);
           function timeout(flag) {
               if (flag) {
                   setTimeout(function () {
                           @*if (cont >= @count_last_searches ) {
                               cont = 0;
                           }*@
                           Refresh('@Url.Action("LastSearches", "Empresas")', '@culture');
                           flag = false;
                           timeout(flag);
                           //cont += 10;
                   },
                   5000);
               }
           }
           timeout(flag);

           var x = document.getElementById("loadingPageAdmin");
           x.style.display = "none";
       });
    </script>

    <script type="text/javascript">
    $(function () {





          $("#txtProducto").autocomplete({
              appendTo: "#autocompleteProducto",
              source: function (request, response) {
                  console.log(request);
                  $.ajax({
                      url: "@Url.Action("BuscarProductoCP", "ProductoPerfil")",
                      type: "POST",
                      dataType: "json",
                      data: {
                          description: request.term,
                          idioma: '@culture',
                          codPais: '@ViewBag.PaisCorto'
                      },
                      beforeSend: function () {


                          var x = document.getElementById("loadingPageAdmin");
                          x.style.display = "block";
                      },
                      success: function (data) {
                          //console.log(data);
                          var x = document.getElementById("loadingPageAdmin");
                          x.style.display = "none";
                          response($.map(data,
                              function (item) {

                                  return {
                                      id: item.id,
                                      label: item.value,
                                      value: item.value,
                                      pais: item.pais,
                                      tipoOpe: item.tipoOpe,
                                      uri: item.uri,
                                      codPartida: item.codPartida
                                  };
                              }));
                      }
                  });
              },
              minLength: 2,
              open: function (event, ui) {
                  $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
              },
              select: function (event, ui) {
                  //console.log(ui);
                  $('#searchP').prop("disabled", false);
                  if ('@culture' == "es") {
                      $("#slug").val("/@culture/" +
                          ui.item.pais +
                          "/importaciones-y-exportaciones/" +
                          ui.item.uri +
                          "/" +
                          ui.item.codPartida);
                      var botonbuscar = document.getElementById('searchP')

                      botonbuscar.click();
                  } else {
                      $("#slug").val("/@culture/" +
                          ui.item.pais +
                          "/imports-and-exports/" +
                          ui.item.uri +
                          "/" +
                          ui.item.codPartida);
                      var botonbuscar = document.getElementById('searchP')

                      botonbuscar.click();
                  }
              }
          });
          $('#txtProducto').blur(function () {
              if ($('#txtProducto').val().trim() === '') {
                  $('#searchP').prop("disabled", true);
              }

          });
          $("#searchP").click(function () {

                  if ($("#slug").val().trim() !== "") {
                      if ('@culture' == "es") {
                          window.location.replace($("#slug").val());
                      } else {
                          window.location.replace($("#slug").val());
                      }
                  }
              });





    });
    </script>

    <script type="text/javascript">
    $(function () {





          $("#txtProductoMo").autocomplete({
              appendTo: "#autocompleteProductoMo",
              source: function (request, response) {
                  console.log(request);
                  $.ajax({
                      url: "@Url.Action("BuscarProductoCP", "ProductoPerfil")",
                      type: "POST",
                      dataType: "json",
                      data: {
                          description: request.term,
                          idioma: '@culture',
                          codPais: '@ViewBag.PaisCorto'
                      },
                      beforeSend: function () {


                          var x = document.getElementById("loadingPageAdminMo");
                          x.style.display = "block";
                      },
                      success: function (data) {
                          //console.log(data);
                          var x = document.getElementById("loadingPageAdminMo");
                          x.style.display = "none";
                          response($.map(data,
                              function (item) {

                                  return {
                                      id: item.id,
                                      label: item.value,
                                      value: item.value,
                                      pais: item.pais,
                                      tipoOpe: item.tipoOpe,
                                      uri: item.uri,
                                      codPartida: item.codPartida
                                  };
                              }));
                      }
                  });
              },
              minLength: 2,
              open: function (event, ui) {
                  $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
              },
              select: function (event, ui) {
                  //console.log(ui);
                  $('#searchPMo').prop("disabled", false);
                  if ('@culture' == "es") {
                      $("#slug").val("/@culture/" +
                          ui.item.pais +
                          "/importaciones-y-exportaciones/" +
                          ui.item.uri +
                          "/" +
                          ui.item.codPartida);
                      var botonbuscar = document.getElementById('searchP')

                      botonbuscar.click();
                  } else {
                      $("#slug").val("/@culture/" +
                          ui.item.pais +
                          "/imports-and-exports/" +
                          ui.item.uri +
                          "/" +
                          ui.item.codPartida);
                      var botonbuscar = document.getElementById('searchP')

                      botonbuscar.click();
                  }
              }
          });
        $('#txtProductoMo').blur(function () {
              if ($('#txtProductoMo').val().trim() === '') {
                  $('#searchPMo').prop("disabled", true);
              }

          });
          $("#searchPMo").click(function () {

                  if ($("#slug").val().trim() !== "") {
                      if ('@culture' == "es") {
                          window.location.replace($("#slug").val());
                      } else {
                          window.location.replace($("#slug").val());
                      }
                  }
              });





    });
    </script>
}

<style>
    .TabsCategories {
        width: 57%;
        margin: auto;
    }

    .h1 {
        padding-top: 20px;
    }

    .tab-content {
        width: 992px;
    }

    .PanelCentral {
        width: 975px;
    }

    .nav-item {
        width: 140px;
    }

    .hidden-column {
        display: none;
    }


    .loader .objectLoading {
        width: 6px;
        height: 17px;
        background: rgba(100,186,234,1);
        position: relative;
        animation: objectLoading-animation 1s ease-in-out infinite;
        animation-delay: 0.4s;
        top: 35%;
        margin: -28px auto 0;
        right: 100px;
    }

        .loader .objectLoading::after, .loader .objectLoading::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 17px;
            background: rgba(100,186,234,1);
            animation: objectLoading-animation 1s ease-in-out infinite;
        }

        .loader .objectLoading::before {
            right: 10px;
            animation-delay: 0.2s;
        }

        .loader .objectLoading::after {
            left: 10px;
            animation-delay: 0.2s;
        }

    button[type="buttoncp2"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("../content/images/icons/icon_search.svg") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
        background-color: #f8f8f8;
    }

    #autocompleteProducto {
        width: 300px;
    }

    input[type="search2"] {
        border: none;
        background: #f8f8f8;
    }



    .loader {
        position: absolute;
        left: 99% !important;
        width: auto;
        right: 43px;
        top: 98% !important;
    }

    .InfoGeneral {
        width: 58%;
        margin: auto;
    }




    .panel-cats .boxaccordion {
        background-color: transparent !important;
        border-color: #ffffff !important;
        border-radius: 8px !important;
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 0px !important;
        border-style: solid !important;
        display: flex;
        justify-content: space-between;
        align-items: normal;
    }


    .DetailsBoxResume h3, h4 {
        margin-right: 84px !important;
        font-weight: 900;
    }

    .custom-h5 {
        font-size: 14px !important;
        padding-right: 25px;
        padding-top: 3px;
    }

    .custom-h4 {
        font-size: 15px;
    }



    .custom-input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        padding-right: 15%;
        color: #0B5E7D;
    }


    .with-bg {
        background-image: url('https://i.ibb.co/dKxHhhK/icon-search.png');
        background-repeat: no-repeat;
        background-size: 3.8% !important;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: calc(100% - 9px) !important;
        background-size: cover; /* o 'contain' según prefieras */
    }

        .with-bg:focus {
            background-image: none;
        }


    .custposition {
        width: 288px;
        margin-right: 30px;
    }

    #ultimoxm {
        margin-right: 50px !important;
    }
</style>

<div class="row hidden-xs">
    <!-- Start Layout Country Profile -->
    <header style="height: 165px;">
        <div class="inner-header-country">
            <h1 style="padding-top:3%;">
                @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-descubrecomercioexterior", culture) @ViewBag.PaisCap
                <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
            </h1>
            <div class="line-bottom"> </div>
        </div>
    </header>
    <!-- Start Layout Country Profile -->

    <input type="hidden" id="idPaisValor" value="@ViewBag.Idpais" />
    <input type="hidden" id="cultureValue" value="@ViewBag.CultureValue" />
    <input type="hidden" id="idPaisCapValor" value="@ViewBag.PaisCap" />

    <input type="hidden" id="LayoutCP" value="@ViewBag.LayoutCP" />
    <input type="hidden" id="RutaCP_ES" value="@ViewBag.RutaCP_ES" />
    <input type="hidden" id="RutaCP_EN" value="@ViewBag.RutaCP_EN" />


    <section class="LinksNav">

        @if (culture == "en")
        {

            ruta1 = String.Format("/en/countries/{0}/exports", @ViewBag.FriendlyNameES);
            ruta2 = String.Format("/en/countries/");
        }
        else
        {

            ruta1 = String.Format("/es/paises/{0}/exportaciones", @ViewBag.FriendlyNameES);
            ruta2 = String.Format("/es/paises/");
        }



        <ol class="breadcrumb">
            @*<li><a href="@ruta2" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-inicio", culture).ToString()</a>
                <li><a href="@ruta1" style="color: #0B5E7D;">@breadNameShort</a></li>
                <li><a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString()</a></li>
                <li><a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisProductos", culture).ToString()</a></li>


                <li class="active" style="color: #0B5E7D;"><b>@ViewBag.categoriaNombreCajaPan</b> </li>*@

            <a href="@ruta2" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-inicio", culture).ToString()&nbsp;/</a>
            <a href="@ruta1" style="color: #0B5E7D;">@breadNameShort&nbsp;/</a>
            <a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString()&nbsp;/</a>
            <a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisProductos", culture).ToString()&nbsp;/</a>

            <b style="color: #0B5E7D;">@ViewBag.categoriaNombreCajaPan</b>

        </ol>
    </section>

    <section class="InfoGeneral">
        <div class="row flexbox">
            <div class="col-md-6">
                <div class="BoxCategory">
                    <div class="NameCat">

                        @Html.Raw(ViewBag.icategoria)
                    </div>
                    <div class="DetailsCat">
                        @Html.Raw(ViewBag.iempresa)
                        @Html.Raw(ViewBag.isubcategoria)
                        @Html.Raw(ViewBag.iusd)

                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class=" ">
                    <div class="t_buscar" style="width: 99%;padding-top: 15px;padding-left: 0%;padding-bottom: 10px;">
                        @Html.Hidden("slug")
                        @*<input type="search" id="txtProducto" style=" border-radius: 8px;"
                            placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)">*@
                        <input type="text" id="txtProducto" class="custom-input with-bg" placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)">
                        <div id="autocompleteProducto"
                             class="autocomplete_content"></div>
                        <div id="loadingPageAdmin" class="loader"
                             style="position: absolute; left: auto; width: auto; right: 30px; top: 100%; display: none; ">
                            <div class="objectLoading"></div>
                        </div>


                        <button id="searchP" type="buttoncp2"
                                onclick="ga('send', 'event', 'boton', 'click', 'buscar')" hidden>
                            @Resources.Search_Button
                        </button>


                    </div>
                    <!--<div class="t_buscar" style=" width: 99%; padding-top: 7px; padding-left: 20%;">

                    @Html.Hidden("slug")-->
                    @*<input type="search" id="txtEmpresa" style=" border-radius: 8px;"
                        placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarEmpresas", culture)">*@
                    <!--<input type="text" id="txtProducto" class="custom-input  with-bg" placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)">
                        <button id="searchP" type="buttoncp2" onclick="ga('send', 'event', 'boton', 'click', 'buscar')" hidden>@Resources.Search_Button</button>
                        <div id="autocompleteEmpresa" class="autocomplete_content"></div>
                        <div id="loadingPageAdminE" class="loader"
                             style="position: absolute; left: auto; width: auto; right: 30px; top: 100%; display: none; ">
                            <div class="objectLoading"></div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

    </section>



    <section class="TabsCategories">
        <div class="TabsCatsHeader">
            <h4 onclick="sortPanels(0)" id="subcategoriax">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-subcategorias", culture) <i class="fa fa-arrow-up" style="color: #00BAEF"></i><i class="fa fa-arrow-down" style="color: #00BAEF"></i></h4>
            <h4 onclick="sortPanels(1)" id="empresasx">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-productos", culture) <i class="fa fa-arrow-up" style="color: #00BAEF"></i><i class="fa fa-arrow-down" style="color: #00BAEF"></i></h4>
            <h4 onclick="sortPanels(2)" id="ultimox" style="color:#00BAEF">
                <span class=" ViewSubCats"></span> USD$ <span class=" ViewSubCats"> @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-ultimoanio", culture) </span><i class="fa fa-arrow-up" style="color: #00BAEF"></i><i class="fa fa-arrow-down" style="color: #00BAEF"></i>
            </h4>

        </div>

        <div class="panel-cats table-wrapper-scroll-y custom-scrollbar  mostly-customized-scrollbar">
            <div class="panel-group" id="accordion">

                @foreach (var item in LSCT)
                {
                    contador++;
                    var alfa = contador.ToString();
                    listaidstr = "#lista" + alfa;
                    listaidstr2 = "lista" + alfa;
                    <div class="panel panel-default" id="accordion-1">
                        <div class="panel-heading ">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="@listaidstr">
                                <div class="boxaccordion">
                                    <div class="col-md-4 flexbox-l colx"> @item.SubCategoriaES</div>
                                    <div class="col-md-2 flexbox-l colx number custposition" style="padding-left: 200px; font-size: 11px;">@item.CantEmpresas</div>
                                    <div class="col-md-4 flexbox-r number colx" style="margin-right: 87px; font-size: 11px !important;" data-sumatotal="@item.TotalSuma">@item.TotalSuma.ToString("#,##0").Replace(".", ",")</div>

                                </div>
                            </a>
                        </div>


                        <div id="@listaidstr2" class="panel-collapse collapse in" style="overflow-x: auto; height: 0px;">

                            @foreach (var dd in item.ListaDetalle)
                            {

                                <div class="panel-body ">
                                    <div class="rowlinetable flexbox" style="width: 680px;margin-left: 400px;">


                                        <div class="col-md-8">
                                            <h6 id="h-mobilesmall" style="font-size:13px">@dd.ShortNombre60</h6>
                                        </div>

                                        <div class="col-md-4 USD" style="padding-right: 100px;padding-left: 0px;">
                                            <h6 id="h-mobilesmall" style="font-size:11px" class="number">@dd.Total.ToString("#,##0").Replace(".", ",")</h6>
                                            <div class="ButtonSubCat">
                                                <a href="@dd.UrlES"
                                                   class="btn btn-info btn-cat" role="button" style="text-decoration:none !important">
                                                    Product Profile &nbsp; <i class="fa fa-chevron-right"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }



                        </div>

                    </div>


                }





            </div> <!-- end container -->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        </div>
    </section>



    <section class="SimpleBanner">
        <div class="ContainerBox">
            <div class="row">
                <div class="TitleBanner">
                    <h3>@Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simpleconveritrade", culture))  </h3>
                </div>
                <div class="col-md-6">
                    <div class="TittleTest flexbox">

                        <img src="~/Content/Images/icons/icon_data.svg" />
                        <h4>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simplereducirlostiempos", culture)</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="TittleTest flexbox">
                        <img src="~/Content/Images/icons/icon_conections.svg" />
                        <h4>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simplerobtenerladata", culture)</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Marquee">
        <div class="TittleMarquee">
            @if (@ViewBag.ExportacionEmpresasCount != "0")
            {
                <h4>
                    @Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisScrollCabecera", culture)) @ViewBag.PaisCap
                    <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
                </h4>

            }
            else
            {
                <h4>
                    @Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisScrollCabecera2", culture)) @ViewBag.PaisCap
                    <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
                </h4>

            }
            <div class="LineTitle" style="margin-top: 5px;"></div>
            @if (@ViewBag.ExportacionEmpresasCount != "0")
            {
                <marquee id="MarqEnter" scrolldelay="100" scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
                    @foreach (var item in ListaEmpresaBanner)
                    {
                        <a href="@item.Uri">@item.ShortNombreES</a>
                    }
                </marquee>
            }

            <marquee id="MarqProduc" direction="right" scrolldelay="100" scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
                @foreach (var item in ListaProductoBanner)
                {
                    <a href="@item.Uri">@item.ShortNombreES</a>
                }
            </marquee>
        </div>
    </section>

    <!-- End Layout Country Profile -->

</div>

<!--START MOBILE-->
@*<div class="row hidden-lg hidden-md hidden-sm  common-div only-320">*@
    <div class="show-mobile">
        <header  class="ly4-header"  style="height: 96px; width: 100%;">
            <div class="inner-header-country" style="width: 100%;padding-left: -3px;">
                <h1 style="padding-top:3%;padding-right: -15px; margin-right: 35px; padding-left: 10px;">
                    @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-descubrecomercioexterior", culture)@Html.Raw("\n")  @ViewBag.PaisCap
                    <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
                </h1>
                <div class="line-bottom"> </div>
            </div>
        </header>

        <section class="LinksNav" style="padding-top: 5px; padding-bottom: 20px; padding-top: 20px; padding-left: 10px; padding-right: 10px; ">




                @if (culture == "en")
                {

                    ruta1 = String.Format("/en/countries/{0}/exports", @ViewBag.FriendlyNameES);
                    ruta2 = String.Format("/en/countries/");
                }
                else
                {

                    ruta1 = String.Format("/es/paises/{0}/exportaciones", @ViewBag.FriendlyNameES);
                    ruta2 = String.Format("/es/paises/");
                }




                <a href="@ruta2" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-inicio", culture).ToString()/</a>
                <a href="@ruta1" style="color: #0B5E7D;">@breadNameShort/</a>
                <a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString()/</a>
                <a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisProductos", culture).ToString()/</a>

                <b style="color: #0B5E7D;">@ViewBag.categoriaNombreCajaPan</b>


            </section>
            <!--mobile-->
            <section class="InfoGeneral">
                <div class="row flexbox">
                    <div class="col-md-6" style="padding-left: 67px !important;">
                        <div class="BoxCategory" style="margin-right: 57px; width: 344px;">
                            <div class="NameCat">

                                @Html.Raw(ViewBag.icategoria)
                            </div>
                            <div class="DetailsCat" style="gap:3px">
                                @Html.Raw(ViewBag.iempresa)
                                @Html.Raw(ViewBag.isubcategoria)
                                @Html.Raw(ViewBag.iusd)

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6" style="padding-left: 3px;">
                        <div class=" ">
                            <div class="t_buscar t_buscar_export_producto"
                                 style="width: 346px; padding-top: 15px; padding-top: 3px; padding-left: 3%; margin-left: -19px">


                                @Html.Hidden("slug")
                                @*<input type="search" id="txtProducto" style=" border-radius: 8px;"
                            placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)">*@
                                <input type="text" id="txtProductoMo" class="custom-input with-bg" placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)" style="
                                 margin-left: 10px;
                                 margin-right: 0px;
                                 padding-top: 15px;
                                 margin-bottom: 10px;
                                 margin-top: 10px;
                                 min-width: 274px;
                                ">
                                <div id="autocompleteProductoMo"
                                     class="autocomplete_content"></div>
                                <div id="loadingPageAdminMo" class="loader"
                                     style="position: absolute; left: auto; width: auto; right: 30px; top: 100%; display: none; ">
                                    <div class="objectLoading"></div>
                                </div>


                                <button id="searchPMo" type="buttoncp2"
                                        onclick="ga('send', 'event', 'boton', 'click', 'buscar')" hidden>
                                    @Resources.Search_Button
                                </button>


                            </div>







                    <!--<div class="t_buscar" style=" width: 99%; padding-top: 7px; padding-left: 20%;">

                    @Html.Hidden("slug")-->
                    @*<input type="search" id="txtEmpresa" style=" border-radius: 8px;"
                        placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarEmpresas", culture)">*@
                    <!--<input type="text" id="txtProducto" class="custom-input  with-bg" placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)">
                        <button id="searchP" type="buttoncp2" onclick="ga('send', 'event', 'boton', 'click', 'buscar')" hidden>@Resources.Search_Button</button>
                        <div id="autocompleteEmpresa" class="autocomplete_content"></div>
                        <div id="loadingPageAdminE" class="loader"
                             style="position: absolute; left: auto; width: auto; right: 30px; top: 100%; display: none; ">
                            <div class="objectLoading"></div>
                        </div>
                    </div>-->
                        </div>
                    </div>
                </div>

            </section>



            <section class="TabsCategories"
                     style="width: 85% ;margin-right: 34px;margin-left:25px;margin-right:27px;">
                <div class="TabsCatsHeader">
                    <h4 onclick="sortPanelsMobile(0)" id="subcategoriaxm" style="color: rgb(11, 94, 125);padding-left: 15px;">Subcategorías <i class="fa fa-arrow-up" style="color: #00BAEF"></i><i class="fa fa-arrow-down" style="color: #00BAEF"></i></h4>
                    @*<h4 onclick="sortPanels(1)" id="empresasx" style="color: rgb(11, 94, 125);">Empresas <i class="fa fa-arrow-up" style="color: #00BAEF"></i><i class="fa fa-arrow-down" style="color: #00BAEF"></i></h4>*@
                    <h4 onclick="sortPanelsMobile(2)" id="ultimoxm" style="color: #00BAEF; margin-right:43px !important">
                        <span class=" ViewSubCats"></span> USD$ <span class=" ViewSubCats">  </span><i class="fa fa-arrow-up" style="color: #00BAEF"></i><i class="fa fa-arrow-down" style="color: #00BAEF"></i>
                    </h4>

                </div>

                <div class="panel-cats table-wrapper-scroll-y custom-scrollbar">
                    <div class="panel-group" id="accordion-mo">
                        @foreach (var item in LSCT)
                        {
                            contador++;
                            var alfa = contador.ToString();
                            listaidstr = "#listaMO" + alfa;
                            listaidstr2 = "listaMO" + alfa;

                            <div class="panel panel-default" id="accordion-1" style="margin-bottom: 2px;">
                                <div class="panel-heading ">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="@listaidstr" aria-expanded="true">
                                        <div class="boxaccordion">
                                            <div class="col-xs-4 flexbox-l colx" style="font-size: 11px;width: 145px;"> @item.SubCategoriaES</div>

                                            <div id="ly4-col2" class="col-xs-4 flexbox-r number colx mocoldata ly4-col2-exportaciones-producto" style="margin-right: -1px;font-size: 11px;" data-sumatotal="@item.TotalSuma">@item.TotalSuma.ToString("#,##0").Replace(".", ",")</div>

                                        </div>
                                    </a>
                                </div>


                                <div id="@listaidstr2" class="panel-collapse collapse in" aria-expanded="true" style="">
                                    @foreach (var dd in item.ListaDetalle)
                                    {
                                        <div class="panel-body ">
                                            <div class="rowlinetable flexbox rowlinetable-export-producto" style="width: 680px;margin-left: 400px;">

                                                <!--mobile-->
                                                <div class="col-md-8 ly4-fila-datos" style="width: 170px;">
                                                    <h6 id="h-mobilesmall" style="width: 190px; min-width: 170px  ">@dd.ShortNombre30 </h6>
                                                </div>
                                                <div class="col-md-4 USD USD-export-producto" style="padding-right: 94px;padding-left: 13px;margin-right: 0px;">
                                                    <h6 id="h-mobilesmall"  class="number"> @dd.Total.ToString("#,##0").Replace(".", ",")</h6>
                                                    <div class="ButtonSubCat">
                                                        <a href="@dd.UrlES" class="btn btn-info btn-cat" role="button" style="text-decoration:none !important">
                                                            <i class="fa fa-chevron-right"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div> <!-- end container -->
                <!-- Latest compiled and minified JavaScript -->
                @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>*@


            </section>
            <!--mobile-->

            <section class="SimpleBanner">
                <div class="ContainerBox">
                    <div class="row">
                        <div class="TitleBanner">
                            <h3>@Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simpleconveritrade", culture))  </h3>
                        </div>
                        <div class="col-md-6">
                            <div class="TittleTest flexbox">

                                <img src="~/Content/Images/icons/icon_data.svg" />
                                <h4>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simplereducirlostiempos", culture)</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="TittleTest flexbox">
                                <img src="~/Content/Images/icons/icon_conections.svg" />
                                <h4>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simplerobtenerladata", culture)</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="Marquee">
                <div class="TittleMarquee">
                    @if (@ViewBag.ExportacionEmpresasCount != "0")
                    {
                        <h4>
                            @Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisScrollCabecera", culture)) @ViewBag.PaisCap
                            <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
                        </h4>

                    }
                    else
                    {
                        <h4>
                            @Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisScrollCabecera2", culture)) @ViewBag.PaisCap
                            <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
                        </h4>

                    }
                    <div class="LineTitle" style="margin-top: 5px;"></div>
                    @if (@ViewBag.ExportacionEmpresasCount != "0")
                    {
                        <marquee id="MarqEnter" scrolldelay="100" scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
                            @foreach (var item in ListaEmpresaBanner)
                            {
                                <a href="@item.Uri">@item.ShortNombreES</a>
                            }
                        </marquee>
                    }

                    <marquee id="MarqProduc" direction="right" scrolldelay="100" scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
                        @foreach (var item in ListaProductoBanner)
                        {
                            <a href="@item.Uri">@item.ShortNombreES</a>
                        }
                    </marquee>
                </div>
            </section>





</div>


    <!--END MOBILE-->

    <div class="common-div only-320">


    </div>



    <script>
        var inicial = 0;
        $(document).ready(function () {
            $('.panel-collapse').collapse('hide');
            $('#accordion .panel-heading:eq(0) a').click();
            sortPanels(2);
        });


        var ascending = true;
        var columxx = 3;
        var coloroscuro = "#0B5E7D";
        var colorclaro = "#00BAEF";


        function sortPanels(columnIndex) {
            var $accordion = $('#accordion');
            var $panels = $accordion.children('.panel');

            // Cambia el estado de orden de ascendente a descendente y viceversa
            ascending = !ascending;

            $panels.sort(function (a, b) {
                var aValue, bValue;

                if (columnIndex == 0) {
                    aValue = $(a).find('.flexbox-l').eq(columnIndex).text();
                    bValue = $(b).find('.flexbox-l').eq(columnIndex).text();
                } else if (columnIndex == 1) {
                    aValue = parseInt($(a).find('.colx').eq(columnIndex).text(), 10);
                    bValue = parseInt($(b).find('.colx').eq(columnIndex).text(), 10);
                } else if (columnIndex == 2) {
                    aValue = parseFloat($(a).find('.colx').eq(columnIndex).attr('data-sumatotal'));
                    bValue = parseFloat($(b).find('.colx').eq(columnIndex).attr('data-sumatotal'));
                }

                // Compara los valores de las columnas
                if (ascending) {
                    return aValue > bValue ? 1 : -1;
                } else {
                    return aValue < bValue ? 1 : -1;
                }
            });

            // Reemplaza los paneles en el orden correcto
            $accordion.empty().append($panels);

            // Cambia los estilos de los encabezados de las columnas
            var coloroscuro = "#0B5E7D";
            var colorclaro = "#00BAEF";
            if (columnIndex == 0) {
                $('#subcategoriax').css('color', colorclaro);
                $('#empresasx, #ultimox').css('color', coloroscuro);
            } else if (columnIndex == 1) {
                $('#subcategoriax, #ultimox').css('color', coloroscuro);
                $('#empresasx').css('color', colorclaro);
            } else if (columnIndex == 2) {
                $('#subcategoriax, #empresasx').css('color', coloroscuro);
                $('#ultimox').css('color', colorclaro);
            }

            // Oculta todos los paneles colapsados y expande el primero
            $('.panel-collapse').collapse('hide');
            if (inicial === 0) {
                $('#accordion .panel-heading:eq(0) a').click();
                inicial++;
            }

        }


        function sortPanelsMobile(columnIndex) {
            var $accordion = $('#accordion-mo');
            var $panels = $accordion.children('.panel');

            // Cambia el estado de orden de ascendente a descendente y viceversa
            ascending = !ascending;

            $panels.sort(function (a, b) {
                var aValue, bValue;

                if (columnIndex == 0) {
                    aValue = $(a).find('.flexbox-l').eq(columnIndex).text();
                    bValue = $(b).find('.flexbox-l').eq(columnIndex).text();
                } else if (columnIndex == 1) {
                    aValue = parseInt($(a).find('.colx').eq(columnIndex).text(), 10);
                    bValue = parseInt($(b).find('.colx').eq(columnIndex).text(), 10);
                } else if (columnIndex == 2) {
                    aValue = parseFloat($(a).find('.mocoldata').eq(columnIndex).attr('data-sumatotal'));
                    bValue = parseFloat($(b).find('.mocoldata').eq(columnIndex).attr('data-sumatotal'));
                }

                // Compara los valores de las columnas
                if (ascending) {
                    return aValue > bValue ? 1 : -1;
                } else {
                    return aValue < bValue ? 1 : -1;
                }
            });

            // Reemplaza los paneles en el orden correcto
            $accordion.empty().append($panels);

            // Cambia los estilos de los encabezados de las columnas
            var coloroscuro = "#0B5E7D";
            var colorclaro = "#00BAEF";
            if (columnIndex == 0) {
                $('#subcategoriaxm').css('color', colorclaro);
                $('#empresasx, #ultimoxm').css('color', coloroscuro);
            } else if (columnIndex == 1) {
                $('#subcategoriaxm, #ultimoxm').css('color', coloroscuro);
                $('#empresasxm').css('color', colorclaro);
            } else if (columnIndex == 2) {
                $('#subcategoriaxm, #empresasxm').css('color', coloroscuro);
                $('#ultimoxm').css('color', colorclaro);
            }

            // Oculta todos los paneles colapsados y expande el primero
            $('.panel-collapse').collapse('hide');
            if (inicial === 0) {
                $('#accordion-mo .panel-heading:eq(0) a').click();
                inicial++;
            }

        }

        // Función para ordenar los paneles por una columna específica
        function sortPanelsOld(columnIndex) {

            var $accordion = $('#accordion');
            var $panels = $accordion.children('.panel');

            // Cambia el estado de orden de ascendente a descendente y viceversa
            ascending = !ascending;
            if (columnIndex == 0) {
                $panels.sort(function (a, b) {
                    var aValue = $(a).find('.flexbox-l').eq(columnIndex).text();
                    var bValue = $(b).find('.flexbox-l').eq(columnIndex).text();

                    // Compara los valores de las columnas
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                });
            }

            if (columnIndex == 1) {

                $panels.sort(function (a, b) {
                    var aValue = $(a).find('.colx').eq(columnIndex).text();
                    var bValue = $(b).find('.colx').eq(columnIndex).text();
                    var aa = aValue.replace(/\D/g, '');
                    var bb = bValue.replace(/\D/g, '');
                    var points = []
                    points.push(aa);
                    points.push(bb);

                    // Compara los valores de las columnas
                    console.log(points)
                    if (ascending) {
                        points.sort(function (a, b) { return b - a });
                        return aValue.localeCompare(points[0]);
                    } else {
                        points.sort(function (a, b) { return a - b });
                        return bValue.localeCompare(points[0]);
                    }
                });
            }

            if (columnIndex == 2) {
                $panels.sort(function (a, b) {

                    var aValue = parseFloat($(a).find('.colx').eq(columnIndex).attr('data-sumatotal'));
                    var bValue = parseFloat($(b).find('.colx').eq(columnIndex).attr('data-sumatotal'));

                    //var aValue = $(a).find('.colx').eq(columnIndex).text();
                    //var bValue = $(b).find('.colx').eq(columnIndex).text();
                    var aa = aValue.replace(/\D/g, '');
                    var bb = bValue.replace(/\D/g, '');
                    var points = []
                    points.push(aa);
                    points.push(bb);
                    // Compara los valores de las columnas
                    if (ascending) {
                        points.sort(function (a, b) { return b - a });
                        return aValue.localeCompare(points[0]);
                    } else {
                        points.sort(function (a, b) { return a - b });
                        return bValue.localeCompare(points[0]);
                    }
                });
            }

            // Reemplaza los paneles en el orden correcto
            $accordion.empty().append($panels);

            var coloroscuro = "#0B5E7D";
            var colorclaro = "#00BAEF";


            if (columnIndex == 0) {

                var colx = document.getElementById("subcategoriax");
                colx.style.color = colorclaro

                var colx = document.getElementById("empresasx");
                colx.style.color = coloroscuro;

                var colx = document.getElementById("ultimox");
                colx.style.color = coloroscuro;

            }
            if (columnIndex == 1) {
                var colx = document.getElementById("subcategoriax");
                colx.style.color = coloroscuro

                var colx = document.getElementById("empresasx");
                colx.style.color = colorclaro;

                var colx = document.getElementById("ultimox");
                colx.style.color = coloroscuro;
            }

            if (columnIndex == 2) {
                var colx = document.getElementById("subcategoriax");
                colx.style.color = coloroscuro

                var colx = document.getElementById("empresasx");
                colx.style.color = coloroscuro;

                var colx = document.getElementById("ultimox");
                colx.style.color = colorclaro;
            }

            // $('.panel-collapse').collapse('hide');
            /*$('#accordion .panel-heading:eq(0) a').click();*/

        }




        function arreglar() {
            // Obtener todos los paneles
            const paneles = document.querySelectorAll('.panel.panel-default');

            // Crear un array para almacenar los datos de los paneles
            let datosPaneles = [];

            // Iterar sobre cada panel para obtener los datos de la columna 2

            paneles.forEach(panel => {
                const valorColumna2 = parseInt(panel.querySelector('.flexbox-c').textContent.trim());
                datosPaneles.push({ panel, valorColumna2 });
            });



            // Ordenar los datos de los paneles por el valor de la columna 2 de menor a mayor
            datosPaneles.sort((a, b) => a.valorColumna2 - b.valorColumna2);

            // Eliminar los paneles existentes de su contenedor
            const contenedorPaneles = document.querySelector('#accordion');
            contenedorPaneles.innerHTML = '';

            // Agregar los paneles ordenados de nuevo al contenedor
            datosPaneles.forEach(({ panel }) => {
                contenedorPaneles.appendChild(panel);
            });


        };
    </script>
