@using Veritrade2018.Models

@{
    var listaPais = (List<ListProductByPaises>) Model;
}

<div class="containerB" style="padding-left: 35px">
    @foreach (var i in listaPais)
    {
        var flag = "flag_" +@i.PaisAduana.ToLower()+".png";
        <div>
            <h4><img src="~/Content/Images/@flag" alt=""/>@i.PaisAduana</h4>
            <div class="row null-margin-h">
                <div class="minisite-info">
                    <p class="product-profile-info-description">
                        <span>IMPORTACIONES:</span>
                        <ul class="product-profile-list-description">
                            <li style="display: inline">- US$: </li><li style="display: inline">@i.Importaciones</li><br/>
                            <li style="display: inline">- Importadores: </li><li style="display: inline">@i.Importadores</li>
                        </ul>
                    </p>
                    <p class="product-profile-info-description">
                        <span>EXPORTACIONES:</span>
                        <ul class="product-profile-list-description">
                            <li style="display: inline">- US$: </li><li style="display: inline">@i.Exportaciones</li><br />
                            <li style="display: inline">- Importadores: </li><li style="display: inline">@i.Exportadores</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    }


</div>
