@using Veritrade2017.Models
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var idiomaMoneda = culture.Equals("es") ? CultureInfoExtensions.CreateSpecificCulture("es-pe") : CultureInfoExtensions.CreateSpecificCulture("en-us");
    var uri = "";
    if (culture == "es")
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0,10);
    }
    else
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 9);
    }
    var seoConf = ConfiguracionesSeo.GetConfig(culture, uri);

    ViewBag.Title = seoConf.Title;
    ViewBag.Description = seoConf.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cont = 1;
    var i = 1;
    var codPaisIp = Session["IPPaisIngreso"].ToString();

    var fontSize = codPaisIp == "CL" ? "style=font-size:25px" : "";
}

@section Styles
{
    <link href="@Url.Content("~/Content/Assets/planes.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script type="text/javascript">
        var codPaisIp = '@ViewData["codPaisIp"].ToString()';

        function dataLayerPlan(nombre_plan) {
            //Ruben 202304
            nombre_plan = nombre_plan.toUpperCase();
            console.log(nombre_plan);
            dataLayer.push({
                'event': 'comprar', //valor estático
                'paso': 'elegir_plan', // valor estático
                'plan': nombre_plan // valor dinámico
            });
        }

        $(document).ready(function () {
            $("#cotizacion").click(function () {
                $("#ModalSolicitud").find("h4.modal-title").html("@Resources.Request_Text02");
                $("#ModalSolicitud").find("form").attr("action", "@Url.Action("Cotizacion", "Planes", new { culture })");
                $("#ModalSolicitud").modal("show");
            });
        });

        function selectCommentBox() {
            if (!document.location.hash) {
                if ('@culture' == "es") {
                    document.location.hash = 'planes';
                } else {
                    document.location.hash = 'plans';
                }
            }
        }

        selectCommentBox();
    </script>
}

@helper BackColor(int orden)
    {
        if (orden % 2 == 0)
        {
            @:tipo-02
        }
        else if (orden % 3 == 0)
        {
            @:tipo-03
        }
        else
        {
            @:tipo-01
        }
}

<div class="container">

    @*Ruben 202206*@
    <div style="display: flex; justify-content: center;">
        <img alt="Planes" src='~/Content/Images/2022/@(culture == "es" ? "Banner_ES.png" : "Banner_IN.png")' style="width:100%; height:auto;">
    </div>

    @*<div class="hidden-xs" style="display: flex; justify-content: center;">
        <img alt="Planes" src="~/Content/Images/2022/Banner_ES.png" style="width:1000px; height:88px">
    </div>*@

    @*<div class="col-xs-12" style="display: flex; justify-content: center;">
            <img alt="Planes" src="~/Content/Images/2022/Banner_ES_Movil.png" style="width:300px; height:27px">
        </div>*@

    <div class="planes_section">
        <div class="planes_content">
            <a id="planes" class="anchor"></a>
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs">
                    <div class="plan-item border-content">
                        <div class="plan-descripcion titulo-plan">
                            <h1 style="margin-top: 0; margin-bottom: 0;"><p>@Resources.Plans_Title_Plans</p></h1>
                        </div>
                        <div class="plan-descripcion compra back-color-01" style="border-radius: 0px">
                            <p>&nbsp;</p>
                        </div>
                        <div class="plan-descripcion precio back-color-01">
                            <p>@Resources.Plans_Title_Price</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-02">
                            <p>@Resources.Plans_Title_Countries</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-01">
                            <p>@Resources.Plans_Title_Information</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-02">
                            <p>@Resources.Plans_Title_Modules</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-01">
                            <p>@Resources.Plans_Title_Users</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-02">
                            <p>@Resources.Plans_Title_Downloads</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-01">
                            <p>@Resources.Plans_Title_Favorites</p>
                        </div>
                        <div class="plan-descripcion descripcion back-color-02">
                            <p>@Resources.Plans_Title_Excel</p>
                        </div>
                        <div class="plan-descripcion compra back-color-01">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                @foreach (var plan in (List<Planes>)ViewData["planes"])
                {
                    PlanesPrecio precio;
                    {
                        precio = PlanesPrecio.GetPrecioPlan(plan.Id, codPaisIp);
                    }
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="plan-item @BackColor(plan.Orden)">
                            <div class="plan-descripcion titulo-plan">
                                <p><b>@Html.Raw(plan.Nombre)</b><span style="display:none">@ViewData["codPaisIp"].ToString()</span></p>
                            </div>
                            <div class="plan-descripcion compra">
                                <p>
                                    @if (ViewData["CodMonedaPlan"].ToString() != "USD" || ViewData["codPaisIp"].ToString() == "CO" || ViewData["codPaisIp"].ToString() == "EC")
                                    {
                                        if (culture == "es")
                                        {
                                            <a href="https://www.veritradecorp.com/es/pruebagratis/01210000000009" class="btn-comprar">@Resources.Btn_Comprar</a>
                                        }
                                        else
                                        {
                                            <a href="https://www.veritradecorp.com/en/freetrial/01210000000009" class="btn-comprar">@Resources.Btn_Comprar</a>
                                        }
                                    }
                                    @*else if (ViewData["CodMonedaPlan"].ToString() != "USD")
                                    {
                                        <a class="btn-comprar">@Resources.Btn_Comprar</a>
                                    }*@
                                    else if (culture == "es")
                                    {
                                        <a href="@Url.RouteUrl("Compra", new { culture, id = plan.Id })" class="btn-comprar"
                                           onclick='dataLayerPlan("@plan.Nombre"); ga("send", "event", "boton", "click", "@("continuar-compra" + @i)");'>@Resources.Btn_Comprar</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl("CompraUS", new { culture, id = plan.Id })" class="btn-comprar"
                                           onclick='dataLayerPlan("@plan.Nombre"); ga("send", "event", "boton", "click", "@("continuar-compra" + @i)");'>@Resources.Btn_Comprar</a>
                                    }
                                </p>
                            </div>
                            <div class="plan-precio precio">
                                <div class="precio-content" style="width:80%">
                                    <p class="precio_total">
                                        <span>@ViewData["CodMonedaPlan"]</span> @Convert.ToInt32(precio.Precio).ToString("N0", idiomaMoneda)<span>@ViewData["igv"]</span>
                                        @if (ViewData["igv2"].ToString() != "")
                                        {
                                            <br />
                                            <span>@ViewData["igv2"]</span>
                                        }
                                    </p>
                                    @*Ruben 202305*@
                                    @{ string Descripcion2 = (culture == "es" ? "Dólares americanos" : "American dollars"); }
                                    <p class="precio_periodo">
                                        <span>•</span> @precio.Periodo.Descripcion<br />
                                        @if (ViewData["CodMonedaPlan"].ToString() == "USD")
                                        {
                                            <span>••</span> @Descripcion2
                                        }
                                    </p>
                                    @if (codPaisIp == "CL")
                                    {
                                        <p class="obs_dolar">
                                            <span>•</span>@Resources.Valor_Dolar
                                        </p>
                                    }

                                </div>
                                <hr class="separador">
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.Paises)</p>
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.InfoComex)</p>
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.Modulos)</p>
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.Usuarios)</p>
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.IngresosDescargas)</p>
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.FavoritosGrupos)</p>
                            </div>
                            <div class="plan-descripcion descripcion">
                                <p>@Html.Raw(precio.Plantillas)</p>
                            </div>
                            <div class="plan-descripcion compra">
                                <p>
                                    @if (ViewData["CodMonedaPlan"].ToString() != "USD" || ViewData["codPaisIp"].ToString() == "CO" || ViewData["codPaisIp"].ToString() == "EC")
                                    {
                                        if (culture == "es")
                                        {
                                            <a href="https://www.veritradecorp.com/es/pruebagratis/01210000000009" class="btn-comprar">@Resources.Btn_Comprar</a>
                                        }
                                        else
                                        {
                                            <a href="https://www.veritradecorp.com/en/freetrial/01210000000009" class="btn-comprar">@Resources.Btn_Comprar</a>
                                        }
                                    }
                                    @*else if (ViewData["CodMonedaPlan"].ToString() != "USD")
                                    {
                                        <a class="btn-comprar">@Resources.Btn_Comprar</a>
                                    }*@
                                    else if (culture == "es")
                                    {
                                        <a href="@Url.RouteUrl("Compra", new {culture, id = plan.Id})" class="btn-comprar"
                                           onclick='dataLayerPlan("@plan.Nombre"); ga("send", "event", "boton", "click", "@("continuar-compra" + @i)");'>@Resources.Btn_Comprar</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl("CompraUS", new {culture, id = plan.Id})" class="btn-comprar"
                                           onclick='dataLayerPlan("@plan.Nombre"); ga("send", "event", "boton", "click", "@("continuar-compra" + @i)");'>@Resources.Btn_Comprar</a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
    <div class="planes_section hidden-xs">
        <div class="col-xs-12">
            <hr class="plan-separator" />
        </div>
    </div>
    <div class="planes_section hidden-xs">
        <div class="title">
            <h2>@Html.Raw(Resources.Plans_Details_Title)</h2>
        </div>
        <div class="planes_content">
            <div class="col-xs-12">
                <!-- Titulos -->
                <div class="col-xs-12 table title-row">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 table-cell">
                            <div class="plan-descripcion titulo-plan">
                                <h1 style="margin-top: 0; margin-bottom: 0;"><p>@Resources.Plans_Title_Plans</p></h1>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            <div class="col-xs-12 col-sm-3 table-cell">
                                <div class="plan-descripcion titulo-plan">
                                    <h3><p>@plan.Nombre</p></h3>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xs-12 table title-row title-fixed" style="display: none">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 table-cell">
                            <div class="plan-descripcion titulo-plan">
                                <h3><p>@Resources.Plans_Title_Plans</p></h3>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            <div class="col-xs-12 col-sm-3 table-cell">
                                <div class="plan-descripcion titulo-plan">
                                    <h3><p>@plan.Nombre</p></h3>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Precios -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-01">
                            <div class="plan-descripcion precio">
                                <h4><p>@Resources.Plans_Title_Price</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            PlanesPrecio precio;
                            {
                                precio = PlanesPrecio.GetPrecioPlan(plan.Id);
                            }
                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="plan-precio precio">
                                    <div class="precio-content" style="width:80%">
                                        <hr class="separador">
                                        <p class="precio_total">
                                            <span>@ViewData["CodMonedaPlan"]</span> @Convert.ToInt32(precio.Precio).ToString("N0", idiomaMoneda)<span> @ViewData["igv"]</span>
                                            @if (ViewData["igv2"].ToString() != "")
                                            {
                                                <br />
                                                <span>@ViewData["igv2"]</span>
                                            }
                                        </p>
                                        @*Ruben 202305*@
                                        @{ string Descripcion2 = (culture == "es" ? "Dólares americanos" : "American dollars"); }
                                        <p class="precio_periodo">
                                            <span>•</span> @precio.Periodo.Descripcion<br />
                                            @if (ViewData["CodMonedaPlan"].ToString() == "USD")
                                            {
                                                <span>••</span> @Descripcion2
                                            }
                                        </p>
                                        @if (codPaisIp == "CL")
                                        {

                                            <p class="obs_dolar">
                                                <span>•</span>@Resources.Valor_Dolar
                                            </p>
                                        }

                                        <hr class="separador">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Paises-->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-02">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Countries</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetPaisesDescripcion(plan.Id);
                            }
                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Informacion Comex-->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-01">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Information</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetInfoComexDescripcion(plan.Id);
                            }

                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Modulos -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-02">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Modules</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetModulosDescripcion(plan.Id);
                            }

                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Usuario -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-01">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Users</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetUsuariosDescripcion(plan.Id);
                            }

                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Ingresos y Descargas -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-02">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Downloads</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetIngresosDescargasDescripcion(plan.Id);
                            }

                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Favoritos y Grupos -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-01">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Favorites</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetFavoritosGruposDescripcion(plan.Id);
                            }

                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Plantillas Excel -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-02">
                            <div class="plan-descripcion descripcion">
                                <h4><p>@Resources.Plans_Title_Excel</p></h4>
                            </div>
                        </div>
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {
                            string detalle;
                            {
                                detalle = PlanesPrecioDetalle.GetPlantillasDescripcion(plan.Id);
                            }

                            <div class="col-xs-12 col-sm-3 table-cell @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">@Html.Raw(detalle)</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Boton Comprar -->
                <div class="col-xs-12 table">
                    <div class="plan-item table-row">
                        <div class="col-xs-12 col-sm-3 border-content table-cell back-color-02 compra">
                            <div class="plan-descripcion descripcion">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        @{
                            i = 1;
                        }
                        @foreach (var plan in (List<Planes>)ViewData["planes"])
                        {

                            <div class="col-xs-12 col-sm-3 table-cell compra @BackColor(plan.Orden)">
                                <div class="detalle-descripcion">
                                    <p>
                                        @if (ViewData["CodMonedaPlan"].ToString() != "USD" || ViewData["codPaisIp"].ToString() == "CO" || ViewData["codPaisIp"].ToString() == "EC")
                                        {
                                            if (culture == "es")
                                            {
                                                <a href="https://www.veritradecorp.com/es/pruebagratis/01210000000009" class="btn-comprar">@Resources.Btn_Comprar</a>
                                            }
                                            else
                                            {
                                                <a href="https://www.veritradecorp.com/en/freetrial/01210000000009" class="btn-comprar">@Resources.Btn_Comprar</a>
                                            }
                                        }
                                        @*else if (ViewData["CodMonedaPlan"].ToString() != "USD")
                                        {
                                            <a class="btn-comprar">@Resources.Btn_Comprar</a>
                                        }*@
                                        else if (culture == "es")
                                        {
                                            <a href="@Url.RouteUrl("Compra", new {culture, id = plan.Id})" class="btn-comprar"
                                               onclick='dataLayerPlan("@plan.Nombre"); ga("send", "event", "boton", "click", "@("continuar-compra" + @i)");'>@Resources.Btn_Comprar</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.RouteUrl("CompraUS", new {culture, id = plan.Id})" class="btn-comprar"
                                               onclick='dataLayerPlan("@plan.Nombre"); ga("send", "event", "boton", "click", "@("continuar-compra" + @i)");'>@Resources.Btn_Comprar</a>
                                        }
                                    </p>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 planes-button-content">
        <div class="col-xs-12 col-sm-12">
            <a href="@Url.Action("Pdf", "Planes", new { culture })" class="btn-planes">@Resources.Pdf_text</a>
        </div>
    </div>
</div>
