@using Veritrade2017.Models
@model ServiciosPaisesDetalles

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var file = culture.Substring(0, 2);
    var list = ServiciosPaisesDetalles.GetDatesInfo(Model.CodInfo);
    var cadena = "";
}
<div class="servicios_contenido">
    <h2>
        <p class="titulo_detalle">
            @Model.Titulo
        </p>
    </h2>
    @if (list.Count > 0)
    {
        if (culture.Equals("es"))
        {
            @cadena
            {
                cadena = Model.Descripcion.Replace("{0}", list[0].ToString("dd - MMMM / yyyy").Replace("-", "de").Replace("/", "del"));
                cadena = cadena.Replace("{1}", list[1].ToString("dd - MMMM / yyyy").Replace("-", "de").Replace("/", "del"));
            }
            @Html.Raw(cadena)
        }
        else
        {
            @cadena
            {
                cadena = Model.Descripcion.Replace("{0}", list[0].ToString("MMMM dd, yyyy"));
                cadena = cadena.Replace("{1}", list[1].ToString("MMMM dd, yyyy"));
            }
            @Html.Raw(cadena)
        }
    }
    else
    {
        @Html.Raw(Model.Descripcion)
    }


    @if (!string.IsNullOrEmpty(Model.Archivo))
    {
    <h3>
        <p>
            <a class="bot_muestra" href="/Files/@file/@Model.Archivo" target="_blank">@Resources.Button_Download</a>
        </p>
    </h3>
    }

    @if (!string.IsNullOrEmpty(Model.Nota))
    {
        <p class="nota">
            <b>Nota: </b>@Model.Nota
        </p>
    }
</div>