@using Veritrade2018.Helpers
@using Veritrade2018.Models.Admin
@{
    var objDataTable = (TabDataTabMy) Model;
}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="table-title">
                <th class="column-text-center">
                    @objDataTable.GridHead.Descripcion
                </th>
                <th class="column-text-center">
                    @objDataTable.GridHead.CiFoFobTot
                </th>
                <th class="column-text-center">
                    @objDataTable.GridHead.CiFoFobPor
                </th>



            </tr>
        </thead>
        <tbody id="@("tbody"+objDataTable.Filtro)">
            @foreach (var item in objDataTable.ListRows)
            {
            <tr>
                <td class="columnUnderline wspace-normal">
                    @if (objDataTable.GridHead.mostrarColInformaCo)
                    {
                        <a title="Informa Colombia" onclick="clickInformaColombia('@item.numInformaColombia');">
                            <img src="@Url.Content("~/Content/Images/ico_lupa.jpg")" class="cursor-action" />
                        </a>
                    }
                    <a class="lnkVerRegistros"
                       title="@objDataTable.GridHead.TitleColumnTotalReg"
                       data-filtro="@objDataTable.Filtro"
                       data-idregistro="@item.Id">

                        @Html.Raw(string.Concat(item.Descripcion, item.Descripcion.AppendMoreLess()))
                    </a>
                    </td>

                    <td class="column-text-right cell-vertical-align-middle">
                        @item.CiFoFobTot
                    </td>
                    <td class="column-text-right cell-vertical-align-middle">
                        @item.CiFoFobPor
                    </td>

                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-footer">
                <th class="cell-vertical-align-middle">
                    @Resources.Resources.TotalsText
                </th>
                <th class="column-text-right cell-vertical-align-middle">
                    @objDataTable.CiFoFobTotal
                </th>
                <th class="column-text-right cell-vertical-align-middle">
                    100.00%
                </th>
            </tr>
        </tfoot>
    </table>
    
    @if (objDataTable.TotalPaginasTab > 1)
    {
        <nav aria-label="Page navigation">
            <ul id="@("paging"+objDataTable.Filtro)" class="pagination pagination-sm pagination-tab-my">
            </ul>
        </nav>
    }
</div>

<script type="text/javascript">
    clickInformaColombia = function (ruc) {
            $.ajax({
                type: "POST",
                url: '/es/mis-productos/VerInformaColombia',
                data: {
                    ruc: ruc
                },
                beforeSend: function () {
                    LoadingAdminPage.showOrHideLoadingPage(true);
                },
                success: function (response) {

                    $("#infoColombia").html("");
                    $("#infoColombia").html(response.informaColombia);

                    LoadingAdminPage.showOrHideLoadingPage(false);
                    $("#ModalInfoColombia").on('shown.bs.modal', function () {
                        mostrarGraficos();
                    });
                    ModalAdmin.registerShowByShowOption("ModalInfoColombia", true);

                },
                error: function (dataError) {
                    console.log(dataError);
                    //LoadingAdminPage.showOrHideLoadingPage(false);
                }


            });
        };
</script>