@using Veritrade2018.Helpers
@using Veritrade2018.Models.Admin
@{
    var objVerRegistroTable = (VerRegistroTable)Model;

    var objVerRegistroTableHead = objVerRegistroTable.VerRegistroTableHead;
    var listaVerRegistroTableRows = objVerRegistroTable.VerRegistroTableRows;
}

<table class="table table-bordered">
    <thead>
        <tr class="table-title">
            <th class="column-text-center">
                @objVerRegistroTableHead.Numero
            </th>
            <th class="column-text-center">
                @objVerRegistroTableHead.Fecha
            </th>
            <th class="column-text-center">
                @objVerRegistroTableHead.Nandina
            </th>

            @if (objVerRegistroTable.TipoOpe == "I")
            {
                if (objVerRegistroTableHead.IsVisibleImportador)
                {
                    <th class="column-text-center">
                        @objVerRegistroTableHead.Importador
                    </th>
                }

                if (objVerRegistroTableHead.IsVisibleExportador)
                {
                    <th class="column-text-center">
                        @objVerRegistroTableHead.Exportador
                    </th>
                }
            }
            else
            {
                if (objVerRegistroTableHead.IsVisibleExportador)
                {
                    <th class="column-text-center">
                        @objVerRegistroTableHead.Exportador
                    </th>
                }

                if (objVerRegistroTableHead.IsVisibleImportador)
                {
                    <th class="column-text-center">
                        @objVerRegistroTableHead.Importador
                    </th>
                }
            }

            @if (objVerRegistroTableHead.IsVisibleCampoPeso)
            {
                <th class="column-text-center">
                    @objVerRegistroTableHead.CampoPeso
                </th>
            }

            <th class="column-text-center">
                @objVerRegistroTableHead.Cantidad
            </th>

            <th class="column-text-center">
                @objVerRegistroTableHead.Unidad
            </th>

            @if (objVerRegistroTableHead.IsVisibleFobOFasUnit)
            {
                <th class="column-text-center">
                    @objVerRegistroTableHead.FobOFasUnit
                </th>
            }

            @if (objVerRegistroTableHead.IsVisibleCifOFobUnit)
            {
                <th class="column-text-center">
                    @objVerRegistroTableHead.CifOFobUnit
                </th>
            }

            @if (objVerRegistroTableHead.IsVisibleCifImptoUnit)
            {
                <th class="column-text-center">
                    @objVerRegistroTableHead.CifImptoUnit
                </th>
            }

            @if (objVerRegistroTableHead.IsVisiblePaisOrigenODestino)
            {
                <th class="column-text-center">
                    @objVerRegistroTableHead.PaisOrigenODestino
                </th>
            }

            @if (objVerRegistroTableHead.IsVisibleDesComercial)
            {
                <th class="column-text-center">
                    @objVerRegistroTableHead.DesComercial
                    <br />
                    <input type="text" name="txtDesComercial" id="txtDesComercial" value="" />
                    <a id="lnkBuscarDesComercial">
                        <img src="@Url.Content("/Content/Images/bot_lupal_off.png")" title="@Resources.Resources.LnkTitle_Search" width="20" height="20" />
                    </a>

                    <a id="lnkRestablecerDesComercial">
                        <img src="@Url.Content("/Content/Images/bot_recarga_off.png")" title="@Resources.Resources.LnkTitle_Reset" width="20" height="20" />
                    </a>

                    <div>
                        <label id="lblResultadoDesComercial"></label>
                    </div>

                </th>
            }
        </tr>
    </thead>

    <tbody id="tbodyVerRegistros">
        @foreach (var item in listaVerRegistroTableRows)
        {
            <tr>
                <td class="column-text-right">
                    @item.Numero
                </td>
                <td class="column-text-center">
                    @item.Fecha
                </td>
                <td class="column-text-center">
                    @item.Nandina
                </td>

                @if (objVerRegistroTable.TipoOpe == "I")
                {
                    if (objVerRegistroTableHead.IsVisibleImportador)
                    {
                        <td>
                            @item.Importador
                        </td>
                    }
                    if (objVerRegistroTableHead.IsVisibleExportador)
                    {
                        <td>
                            @item.Exportador
                        </td>
                    }
                }
                else
                {
                    if (objVerRegistroTableHead.IsVisibleExportador)
                    {
                        <td>
                            @item.Exportador
                        </td>
                    }
                    if (objVerRegistroTableHead.IsVisibleImportador)
                    {
                        <td>
                            @item.Importador
                        </td>
                    }
                }

                @if (objVerRegistroTableHead.IsVisibleCampoPeso)
                {
                    <td class="column-text-right">
                        @item.CampoPeso
                    </td>
                }

                <td class="column-text-right">
                    @item.Cantidad
                </td>

                <td class="column-text-center">
                    @item.Unidad
                </td>

                @if (objVerRegistroTableHead.IsVisibleFobOFasUnit)
                {
                    <td class="column-text-right">
                        @item.FobOFasUnit
                    </td>
                }

                @if (objVerRegistroTableHead.IsVisibleCifOFobUnit)
                {
                    <td class="column-text-right">
                        @item.CifOFobUnit
                    </td>
                }

                @if (objVerRegistroTableHead.IsVisibleCifImptoUnit)
                {
                    <td class="column-text-right">
                        @item.CifImptoUnit
                    </td>
                }

               
                @if (objVerRegistroTableHead.IsVisiblePaisOrigenODestino)
                {
                    <td class="column-text-center">
                        @item.PaisOrigenODestino
                    </td>
                }
                @if (objVerRegistroTableHead.IsVisibleDesComercial)
                {
                    <td class="wspace-normal">
                        @Html.Raw(string.Concat(item.DesComercial, item.DesComercial.AppendMoreLess()))
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

@if (objVerRegistroTable.TotalPaginas > 1)
{
    <div class="text-center" id="divPagingVerRegistros">
        <nav aria-label="Page navigation">
            <ul id="pagingVerRegistros"
                class="pagination pagination-sm"></ul>
        </nav>
    </div>
}

