@using Veritrade2018.Models.Admin
@{
    var objVerRegistroTable = (VerRegistroTable) Model;

    var objVerRegistroTableHead = objVerRegistroTable.VerRegistroTableHead;
    var listaVerRegistroTableRows = objVerRegistroTable.VerRegistroTableRows;

    var vFlags = objVerRegistroTable.MiBusqueda.FlagVarVisibles;

}

<table class="table table-bordered">
<thead>
<tr class="table-title">
    <th class="column-text-center">
        @objVerRegistroTableHead.Numero
    </th>
    <th class="column-text-center">
        @objVerRegistroTableHead.Fecha
    </th>
    
    @if (objVerRegistroTable.TipoOpe == "I")
    {
        <th class="column-text-center">
            @Resources.Resources.Search_Form_Item05_I
        </th>

        if (vFlags.ExisteNotificado)
        {
            <th class="column-text-center">
                @Resources.Resources.Demo_Notif_Tab_Fil
            </th>
        }
        if (vFlags.ExisteProveedor)
        {
            <th class="column-text-center">
                @Resources.Resources.Search_Form_Item06_I
            </th>
        }
        <th class="column-text-center">
            @Resources.Resources.Pais_Embarque
        </th>
    }
    else
    {
        <th class="column-text-center">
            @Resources.Resources.Search_Form_Item06_I
        </th>

        @*if (vFlags.ExisteNotificado)
        {
            <th class="column-text-center">
                @Resources.Resources.Demo_Notif_Tab_Fil
            </th>
        }*@
        if (vFlags.ExisteImportadorExp)
        {
            <th class="column-text-center">
                @Resources.Resources.Search_Form_Item06_I
            </th>
        }
        <th class="column-text-center">
            @Resources.Resources.Demo_DestinationCountry
        </th>
    }

    <th class="column-text-center">
        @(vFlags.ExistePtoDescarga ? Resources.Resources.Demo_PtoDescarga:
              vFlags.ExistePtoEmbarque ? Resources.Resources.Demo_PtoEmbarque : Resources.Resources.Demo_PtoDestino)
    </th>

    <th class="column-text-center">
        @Resources.Resources.PesoBruto_Text Kg 
    </th>

    <th class="column-text-center">
        @(vFlags.CodPais == "USI" || vFlags.CodPais == "USE" ? Resources.Resources.Quantity_Text : Resources.Resources.Demo_Bultos )
    </th>

    @if (vFlags.CodPais == "USI" || vFlags.CodPais == "USE")
    {
        <th class="column-text-center">
            @Resources.Resources.Unit_Text
        </th>
    }
    
    @if (vFlags.ExisteDesComercial)
    {
        <th class="column-text-center">
            @objVerRegistroTableHead.DesComercial
            <br/>
            <input type="text" name="txtDesComercialB" id="txtDesComercialBB" value=""/>
            <a id="lnkBuscarDesComercial2">
                <img src="@Url.Content("/Content/Images/bot_lupal_off.png")" title="@Resources.Resources.LnkTitle_Search" width="20" height="20" class="cursor-action" />
            </a>

            <a id="lnkRestablecerDesComercial2">
                <img src="@Url.Content("/Content/Images/bot_recarga_off.png")" title="@Resources.Resources.LnkTitle_Reset" width="20" height="20" class="cursor-action" />
            </a>
            
            <div>
                <label id="lblResultadoDesComercial2"></label>
            </div>

        </th>
    }

    @if (vFlags.ExisteDesAdicional)
    {
        <th class="column-text-center">
            @Resources.Resources.Demo_DescAdicional
        </th>
    }
</tr>
</thead>

<tbody id="tbodyVerRegistros">
@foreach (var item in listaVerRegistroTableRows)
{
    <tr>
        <td class="column-text-right">
            @item.Numero
        </td>
        <td class="column-text-center">
            @item.Fecha
        </td>
        @if (objVerRegistroTable.TipoOpe == "I")
        {
            <td class="column-text-center">
                @item.Importador
            </td>

            if (vFlags.ExisteNotificado)
            {
                <td class="column-text-center">
                    @item.Notificado
                </td>
            }
            if (vFlags.ExisteProveedor)
            {
                <td class="column-text-center">
                    @item.ExportadorProveedor
                </td>
            }
            <td class="column-text-center">
                @item.PaisEmbarque
            </td>
        }
        else
        {
            <td class="column-text-center">
                @item.Exportador
            </td>

            @*if (vFlags.ExisteNotificado)
            {
                <th class="column-text-center">
                    @Resources.Resources.Demo_Notif_Tab_Fil
                </th>
            }*@
            if (vFlags.ExisteImportadorExp)
            {
                <th class="column-text-center">
                    @item.ImportadorExp
                </th>
            }
            <th class="column-text-center">
                @item.PaisOrigenODestino
            </th>
        }

        <th class="column-text-center">
            @item.Pto
        </th>

        <th class="column-text-center">
            @item.PesoBruto
        </th>

        <th class="column-text-center">
            @item.QtyOrButos
        </th>

        @if (vFlags.CodPais == "USI" || vFlags.CodPais == "USE")
        {
            <th class="column-text-center">
                @item.Unidad
            </th>
        }
    
        @if (vFlags.ExisteDesComercial)
        {
            <th class="column-text-center"><p>
    @item.DesComercial
</p></th>
        }

        @if (vFlags.ExisteDesAdicional)
        {
            <th class="column-text-center">
                @item.DesAdicional
            </th>
        }
    </tr>
}
</tbody>

</table>

@if (objVerRegistroTable.TotalPaginas > 1)
{
    <div class="text-center" id="divPagingVerRegistros">
        <nav aria-label="Page navigation">
            <ul id="pagingVerRegistros"
                class="pagination pagination-sm">
            </ul>
        </nav>
    </div>
}

