@{
    ViewBag.Title = Resources.Resources.Compra_Text;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="@Url.Content("~/Content/Assets/planes.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Plugins/OwlCarousel/assets/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Plugins/OwlCarousel/owl.carousel.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var txtCodUsuario = document.getElementById("txtCodUsuario");
            var txtPassword = document.getElementById("txtPassword");
            var form = document.getElementById('loginForm');
            var hiddenInput = document.createElement('input');
            var hiddenInput2 = document.createElement('input');

            txtCodUsuario.value = "@ViewData["User"]";
            txtPassword.value = "@ViewData["Password"]";

            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'inicio');
            hiddenInput.setAttribute('value', 'ok');
            form.appendChild(hiddenInput);

            hiddenInput2.setAttribute('type', 'hidden');
            hiddenInput2.setAttribute('name', 'compra');
            hiddenInput2.setAttribute('value', 'compra');
            form.appendChild(hiddenInput2);

            $("#back").click(function(e) {
                e.preventDefault();
                document.getElementById('loginForm').submit();
            });
        });
    </script>
}

<div class="container compra-container">
    <div class="compra-completada">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="compra-image" src="@Url.Content("~/Content/Images/Tarjetas/compra_success.png")" alt="" />
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
                <h3>@Html.Raw(Resources.Resources.Compra_Confirmacion_Titulo)</h3>
                <br />
                <div class="clearfix"></div>
                <br />
                <p>@Html.Raw(Resources.Resources.Compra_Confirmacion_Mensaje)</p>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-xs-12 text-center">
                <a id="back" class="btn-back">@Resources.Resources.Button_GoHome</a>
            </div>
        </div>
    </div>
</div>