@using Veritrade2018.Util
<div class="tab-pane" id="tab-productos">

    <div class="row">
        <div id="@("grid"+Enums.Filtro.Partida)" class="col-md-6 col-sm-12 col-xs-12">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-select-themes pull-right">
                    <div class="form-group text-center col-sm-12 col-xs-12 group-select-themes">
                        <label class="control-label">
                            @Resources.AdminResources.ChartThemes_Text: 
                        </label>

                        <select id="@("themesChart" + Enums.Filtro.Partida)"
                                data-filtro="@Enums.Filtro.Partida.ToString()"
                                class="form-control filter-selectField-vt select-themes">
                        </select>
                    </div>
            </div>

            <div id="@("pieChart" + Enums.Filtro.Partida)" class="pie-chart" style="width: 100%; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

</div>
