@using Veritrade2017.Helpers
@using System.Globalization
@using System.Web.Optimization
@using Veritrade2017.Models
@using Veritrade2017.Models.Admin
@using Veritrade2017.Models.ProductProfile

@{
    ViewBag.Title = ViewData["TitlePage"];
    ViewBag.Description = ViewData["Description"];
    
    var culture = CultureHelper.GetCurrentCulture();
    
    var idiomaText = culture.Equals("es") ? CultureInfoExtensions.CreateSpecificCulture("es-pe") : CultureInfoExtensions.CreateSpecificCulture("en-us");
    MisProductos objProducto = (MisProductos)ViewData["Producto"];
    ListProductByPaises objProductByPaises = (ListProductByPaises)ViewData["ImportsExports"];
    //ListProductByPaises objConsolidado = (ListProductByPaises) ViewData["Carousel"];
    var tipoOperacion = "I";
    var objDetalle = (List<Detalle>)ViewData["Detalle"];
    var objModalChart = (List<Detalle>)ViewData["DetalleModal"];
    var objModalDetalle = ViewData["ModalDetalle"];
    var objOtherProducts = (List<MisProductos>)ViewData["OtherProductos"];
    //ViewData["FlagPais"] = Session["FlagPais"];
    var sty = ((Campania.TYPE_CAMPANIA)((int?)Session["TypeCampania"] ?? 0));

    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var CodesCampanias = Campania.CodFormateds3((ViewData["CodesCampanias"] as Dictionary<Campania.CONTROL, string>), culture, Request.Browser.IsMobileDevice, sty);

    //var CodesCampanias = ViewData["CodesCampanias"] as Dictionary<Campania.CONTROL, string>;


    var values = RouteDataContext.RouteValuesFromUri(Request.UrlReferrer);
    if (values != null && sty == Campania.TYPE_CAMPANIA.ORGANIC)
    {
        if (new[] {/*"Productos", */"ProductoPerfil" }.Contains(/*values["controller"]*/controller))
        {
            if (culture != "es")
            {
                CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] = Campania.CodesOrganics[Campania.CONTROL.BUSCAR_PRODUCTOS_EN];
            }
            else
            {
                CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] = Campania.CodesOrganics[Campania.CONTROL.BUSCAR_PRODUCTOS];
            }

        }

    }

}
@section styles
{
    @Styles.Render("~/Content/home")
    <link href="@Url.Content("~/Plugins/OwlCarousel2-2.2.1/assets/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Assets/productprofile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Assets/loading.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Assets/loadingProductProfile.css")" rel="stylesheet" type="text/css" />
}
<style>
    .is-active-loadingP {
        background-color: transparent;
    }

    .loaderP .objectLoadingP {
        width: 6px;
        height: 17px;
        background: rgba(100,186,234,1);
        position: relative;
        animation: objectLoading-animation 1s ease-in-out infinite;
        animation-delay: 0.4s;
        top: 50%;
        margin: -28px auto 0;
    }

        .loaderP .objectLoadingP::after, .loaderP .objectLoadingP::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 17px;
            background: rgba(100,186,234,1);
            animation: objectLoading-animation 1s ease-in-out infinite;
        }

        .loaderP .objectLoadingP::before {
            right: 10px;
            animation-delay: 0.2s;
        }

        .loaderP .objectLoadingP::after {
            left: 10px;
            animation-delay: 0.2s;
        }
</style>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Admin/admin.js")" defer type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/misproductos.js")" defer type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/Highcharts/highcharts.js")" defer type="text/javascript"></script>
    <script src="@Url.Content("~/Plugins/OwlCarousel2-2.2.1/owl.carousel.min.js")"></script>
    <script src="https://cdn.jsdelivr.net/canvg/1.4.0/rgbcolor.js" defer type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" defer type="text/javascript"></script>

    <script type="text/javascript">

        function dataLayerProducto() {
            // Ruben 202304
            var busca_producto = '@objProducto.CodProducto: @objProducto.Descripcion';
            console.log(busca_producto);
            dataLayer.push({
                'event': 'prueba_gratis', //valor estático
                'categoria': 'busca_producto', // valor estático
                'palabra': busca_producto // valor dinámico
            });
        }

        function dataLayerProducto2() {
            // Ruben 202305
            var busca_producto = '@objProducto.CodProducto: @objProducto.Descripcion';
            console.log(busca_producto);
            dataLayer.push({
                'event': 'prueba_gratis', //valor estático
                'categoria': 'busca_producto_popup', // valor estático
                'palabra': busca_producto // valor dinámico
            });
        }

        $(document).ready(function () {
            LoadingAdminPage.showOrHideLoadingPageProduct(false);
            var urlB = '@Url.Action("CargarRankRegimen", "ProductoPerfil")';
            var urlC = '@Url.Action("CargarRankPais", "ProductoPerfil")';

            Busqueda.CargarGraficos('@Url.Action("BuscarClick", "ProductoPerfil")',
                '@culture', '@ViewData["TipoOpe"].ToString()', urlB, urlC);

                $("#productName").autocomplete({
                    appendTo: "#autocompleteFilter",
                    source: function(request, response) {
                        $.ajax({
                            url: "@Url.Action("BuscarProducto", "ProductoPerfil")",
                            type: "POST",
                            dataType: "json",
                            data: {
                                description: request.term,
                                idioma: '@culture'
                            },
                            beforeSend: function () {
                                LoadingAdminPage.showOrHideLoadingPageProduct(true);
                            },
                            success: function (data) {
                                //console.log(data);
                                LoadingAdminPage.showOrHideLoadingPageProduct(false);
                                response($.map(data,
                                    function (item) {
                                        return {
                                            id: item.id, label: item.value, value: item.value,
                                            pais: item.pais, tipoOpe: item.tipoOpe, uri: item.uri,
                                            codPartida: item.codPartida
                                        };
                                    }));
                            }
                        });
                    },
                    minLength: 2,
                    open: function(event, ui) {
                        $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
                    },
                    select: function (event, ui) {
                        //console.log(ui);
                        $('#searchProduct').prop("disabled", false);
                        if ('@culture' == "es") {
                            $("#slug3").val("/@culture/" +
                                ui.item.pais.replace(" ", "-") + // Ruben 202306
                                "/importaciones-y-exportaciones/" +
                                ui.item.uri + "/" +
                                ui.item.codPartida);
                        } else {
                            $("#slug3").val("/@culture/" +
                                ui.item.pais.replace(" ", "-") + // Ruben 202306
                                "/imports-and-exports/" +
                                ui.item.uri + "/" +
                                ui.item.codPartida);
                        }
                    }
                });
                if ('@ViewData["TipoOpe"]'.toString() == "Importaciones") {
                    document.getElementById("cboRegimen").selectedIndex = 0;
                } else {
                    document.getElementById("cboRegimen").selectedIndex = 1;
            }

                //Cargar URL
                $("#searchProduct").click(function() {
                    if ($("#slug3").val().trim() !== "") {
                        window.location.replace($("#slug3").val());
                    }
                });

                // Ruben 202310
                //Cargar Por Pais
                $(document).on("click", "#countries.owl-carousel .item", function () {
                    var canonical_orig = '@ViewBag.Canonical';
                    var pais_orig = '/' + '@Session["Pais"].ToString()' + '/';
                    var pais_new = '/' + $('.pais2', this).val() + '/';
                    var canonical_new = canonical_orig.replace(pais_orig, pais_new);
                    window.location = canonical_new;
                });
                @*
                $(document).on("click", "#countries.owl-carousel .item", function () {
                    $('#countries.owl-carousel .item').removeClass("active");
                    $(this).addClass("active");
                    $('#slug2').val($('.pais', this).val());
                    Busqueda.CargarPorPais('@Url.Action("BuscarClick", "ProductoPerfil")',
                        '@culture', $("#cboRegimen").find("option:selected").val(), urlB, urlC);
                });
                *@

                //Cargar Por Regimen
                $("select#cboRegimen").change(function () {
                    Busqueda.CargarPorFiltro('@Url.Action("BuscarClick", "ProductoPerfil")',
                        '@culture', $("#cboRegimen").find("option:selected").val(), urlB, urlC);
                });
                //Cargar Modal
                $(document).on("click", '.modal-producto', function () {
                        MisModales.showModal('Modal',
                            '@Url.Action("BuscarClick", "ProductoPerfil")',
                            '@culture',
                            $("#cboRegimen").find("option:selected").val());
                });
            $('#productName').blur(function () {
                if ($("#productName").val().trim() === "") {
                    $('#searchProduct').prop("disabled", true);
                }
            });

        });

    </script>
    <script type="text/javascript">
        $(function () {
            // Custom colors
            Highcharts.Color.prototype.parsers.push({
                regex: /^[a-z]+$/,
                parse: function (result) {
                    var rgb = new RGBColor(result[0]);
                    if (rgb.ok) {
                        return [rgb.r, rgb.g, rgb.b, 1]; // returns rgba to Highcharts
                    }
                }
            });
        });
    </script>
}
<div id="loadingPageAdmin" class="loader is-active-loading">
    <div class="objectLoading"></div>
</div>
<div class="row null-margin-h">
    <div class="minisite-info">
        <div class="col-xs-12 col-sm-12" style="margin-top: 20px; margin-bottom: -5px;">
            <input type="hidden" name="slug" id="slug" value="@objProducto.IdProducto" />
            <input type="hidden" name="slug2" id="slug2" value="@objProductByPaises.IdPaisAduana" />
            <input type="hidden" name="slug3" id="slug3" value="" />
            <input type="hidden" name="tipoOpe" id="tipoOpe" value="" />
            <div class="row">
                <div class="col-xs-12 col-sm-2 text-right">
                    <label class="search-label" for="productName">@ProductProfileResources.Search_Product</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group" style="margin-bottom: 0;">
                        <input type="text" class="form-control" id="productName" name="productName" placeholder="@ProductProfileResources.Productos_Buscar_Content_SubTitle">
                        <div id="autocompleteFilter" class="autocomplete_content"></div>
                        <div id="loadingPageProduct" class="loaderP is-active-loadingP" style="position: absolute;left: auto;width: auto;right: 30px;top: 50%;">
                            <div class="objectLoadingP"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <input disabled id="searchProduct" class="btn-search btn btn-primary" type="submit" value="@Resources.Search_Button" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row null-margin-h">
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <div class="product-profile-info" style="margin-top: 15px;">
                <div class="col-xs-12 col-sm-4 null-margin-h like-table-cell info-left">
                    <div class="row" id="ProductByPais">
                        @Html.Partial("Partials/ProductByPais", objProducto)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 null-margin-h like-table-cell info-left">
                    <div class="info-title">
                        <p class="info-description-black">
                            @Html.Raw(MinisiteResources.Block02_Text01) <strong>@objProducto.Descripcion</strong>, @Html.Raw(MinisiteResources.Block02_Text02).
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 table-cell info-right">
                    <div class="row static-margin-bottom" id="ProductByPais2">
                        @Html.Partial("Partials/ProductByPais2", objProductByPaises)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="slider">
            <div class="col-xs-12 col-sm-2" style="background: #f5f8fa;padding: 14px 15px;">
                <select class="product-combo" id="cboRegimen">
                    <option value="Importaciones">@ProductProfileResources.Imports</option>
                    <option value="Exportaciones">@ProductProfileResources.Exports</option>
                </select>
            </div>
            <div id="carrusel">
                @Html.Partial("Partials/Carousel")
            </div>
        </div>


        <div id="PrimerContenedor">
            @if (ViewData["TipoOpe"].ToString() == "Importaciones")
            {
                @Html.Partial("Partials/Importaciones", objProducto);
            }
            else
            {
                @Html.Partial("Partials/Exportaciones", objProducto);
            }
        </div>
        <div class="margin-container" id="TabDetalle">
            @Html.Partial("Partials/TableDetalle", objDetalle)
        </div>
    </div>
</div>
<div style="margin: 0 60px">
    <div class="row">
        <div class="product-profile-info" style="display: table; border-top: 2px dashed #000000; margin-top: 30px;">
            <div class="col-xs-12 col-sm-6 info-left-2 like-table-cell">
                <h4 class="product-h4" style="padding-top: 26px;">@ProductProfileResources.Table01_Title</h4>
                <div class="product-div">
                    @foreach (var data in objOtherProducts)
                    {
                        if (culture == "es")
                        {
                            <div class="otherProduct">
                                <a href="/@culture/@data.PaisAduana/importaciones-y-exportaciones/@data.Uri/@data.CodProducto">
                                    <p class="product-p" style="display: inline">@data.CodProducto - </p><span class="product-ul-subtext">@data.Descripcion</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="otherProduct">
                                <a href="/@culture/@data.PaisAduana/imports-and-exports/@data.Uri/@data.CodProducto">
                                    <p class="product-p" style="display: inline">@data.CodProducto - </p><span class="product-ul-subtext">@data.Descripcion</span>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 info-right table-cell">
                <h4 class="product-h4" style="margin-left: 30px; margin-bottom: 0">@ProductProfileResources.Table02_Title</h4><br />
                <div>
                    <span class="product-ul-subtext2">@ProductProfileResources.Table02_Description_01</span><br />
                    <span class="product-ul-subtext2">@ProductProfileResources.Table02_Description_02</span><br />
                </div>
                @if (culture == "es")
                {
                    <a href="@Url.RouteUrl("PruebaGratis", new {culture, campania = CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS]})" onclick="dataLayerProducto();" class="solicitud">@ProductProfileResources.Free_trial</a>
                }
                else
                {
                    <a href="@Url.RouteUrl("PruebaGratisUS", new {culture, campania = CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS]})" onclick="dataLayerProducto();" class="solicitud">@ProductProfileResources.Free_trial</a>
                }
            </div>
        </div>
    </div>
</div>
<div id="ModalChart">
    @Html.Partial("Modals/Modal_Chart", objModalChart);
</div>

<div id="ModalDetalle">
    @Html.Partial("Modals/Modal_Detail", objModalDetalle);
</div>
