@using Veritrade2017.Models
@using Veritrade2017.Models.CountryProfile

@{
    var ruta1 = "";
    var ruta2 = "";
    var ruta3 = "";
    var ruta4 = "";
    var rutaI = "";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var idiomaMoneda = culture.Equals("es") ? CultureInfoExtensions.CreateSpecificCulture("es-pe") : CultureInfoExtensions.CreateSpecificCulture("en-us");
    var uri = "";
    string breadName = (String.Format("{0} {1}", @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString(), @ViewBag.Pais));
    string breadNameShort = String.Format("{0}", @ViewBag.PaisCap);

    if (culture == "es")
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 10);
    }
    else
    {
        uri = HttpContext.Current.Request.Url.AbsolutePath.Substring(0, 9);
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    List<BannerGeneral> ListaEmpresaBanner = ViewBag.BannerEmpresa;
    List<BannerGeneral> ListaProductoBanner = ViewBag.BannerProducto;
    List<CPSubcategoria> listaSub = ViewBag.ListaDatos;
}




@section Styles{


    <link href="@Url.Content("~/Content/Assets/loadingProductProfile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/OwlCarousel2-2.2.1/assets/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/CustomCountryProfile.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Responsive.css")" rel="stylesheet" />
    <link href=@Url.Content("~/Content/Components/ui-autocomplete.css") rel="stylesheet" />
    <!-- Icon font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" defer type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/admin.js")"></script>
    <script src="@Url.Content("~/Scripts/misproductos.js")"></script>

    <script type="text/javascript">
       $(document).ready(function () {

           //getExportacionesEmpresa2();
           //GetDataChart();
           var flag = true;
           //var cont = 10;
           //setTimeout(console.log("HASDASDASDSS"), 3000);
           function timeout(flag) {
               if (flag) {
                   setTimeout(function () {
                           @*if (cont >= @count_last_searches ) {
                               cont = 0;
                           }*@
                           Refresh('@Url.Action("LastSearches", "Empresas")', '@culture');
                           flag = false;
                           timeout(flag);
                           //cont += 10;
                   },
                   5000);
               }
           }
           timeout(flag);

           var x = document.getElementById("loadingPageAdmin");
           x.style.display = "none";
       });
    </script>

    <script type="text/javascript">
    $(function () {


        $("#txtProducto").autocomplete({
            appendTo: "#autocompleteProducto",
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("BuscarProductoCP", "ProductoPerfil")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        description: request.term,
                        idioma: '@culture',
                        codPais: '@ViewBag.PaisCorto'
                    },
                    beforeSend: function () {


                        var x = document.getElementById("loadingPageAdmin");
                        x.style.display = "block";
                    },
                    success: function (data) {
                        //console.log(data);
                        var x = document.getElementById("loadingPageAdmin");
                        x.style.display = "none";
                        response($.map(data,
                            function (item) {
                                return {
                                    id: item.id,
                                    label: item.value,
                                    value: item.value,
                                    pais: item.pais,
                                    tipoOpe: item.tipoOpe,
                                    uri: item.uri,
                                    codPartida: item.codPartida
                                };
                            }));
                    }
                });
            },
            minLength: 2,
            open: function (event, ui) {
                $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
            },
            select: function (event, ui) {
                //console.log(ui);
                $('#searchP').prop("disabled", false);
                if ('@culture' == "es") {
                    $("#slug").val("/@culture/" +
                        ui.item.pais +
                        "/importaciones-y-exportaciones/" +
                        ui.item.uri +
                        "/" +
                        ui.item.codPartida);
                    var botonbuscar = document.getElementById('searchP')
                    console.log(99);
                    botonbuscar.click();
                } else {
                    $("#slug").val("/@culture/" +
                        ui.item.pais +
                        "/imports-and-exports/" +
                        ui.item.uri +
                        "/" +
                        ui.item.codPartida);
                    var botonbuscar = document.getElementById('searchP')
                    console.log(99);
                    botonbuscar.click();
                }
            }
        });
        $('#txtProducto').blur(function () {
            if ($('#txtProducto').val().trim() === '') {
                $('#searchP').prop("disabled", true);
            }

        });
        $("#searchP").click(function () {

                if ($("#slug").val().trim() !== "") {
                    if ('@culture' == "es") {
                        window.location.replace($("#slug").val());
                    } else {
                        window.location.replace($("#slug").val());
                    }
                }
            });



    });
    </script>
}

<style>
    .TabsCategories {
        width: 57% !important;
        margin: auto;
    }

    .h1 {
        padding-top: 20px;
    }

    .tab-content {
        width: 992px;
    }

    .PanelCentral {
        width: 975px;
    }

    .nav-item {
        width: 140px;
    }

    .hidden-column {
        display: none;
    }


    .loader .objectLoading {
        width: 6px;
        height: 17px;
        background: rgba(100,186,234,1);
        position: relative;
        animation: objectLoading-animation 1s ease-in-out infinite;
        animation-delay: 0.4s;
        top: 35%;
        margin: -28px auto 0;
        right: 100px;
    }

        .loader .objectLoading::after, .loader .objectLoading::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 17px;
            background: rgba(100,186,234,1);
            animation: objectLoading-animation 1s ease-in-out infinite;
        }

        .loader .objectLoading::before {
            right: 10px;
            animation-delay: 0.2s;
        }

        .loader .objectLoading::after {
            left: 10px;
            animation-delay: 0.2s;
        }

    button[type="buttoncp2"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("../content/images/icons/icon_search.svg") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
        background-color: #f8f8f8;
    }

    #autocompleteEmpresa {
        width: 300px;
    }

    input[type="search2"] {
        border: none;
        background: #f8f8f8;
    }



    .loader {
        position: absolute;
        left: 100% !important;
        width: auto;
        right: 43px;
        top: 96% !important;
    }



    .custom-input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        padding-right: 15%;
        color: #0B5E7D;
    }

    .with-bg {
        background-image: url('https://i.ibb.co/dKxHhhK/icon-search.png');
        background-repeat: no-repeat;
        background-size: 3.8% !important;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: calc(100% - 9px) !important;
        background-size: cover; /* o 'contain' según prefieras */
    }

        .with-bg:focus {
            background-image: none;
        }


    #TableSortCatId tr {
        text-decoration: none;
        cursor: pointer;
    }


    #TableSortCatId a {
        color: #0B5E7D; /* Color de texto azul */
        text-decoration: none !important;
    }

    /* Cambiar el color del texto a azul cuando el mouse está sobre el tr */
    #TableSortCatId tr:hover td {
        color: #00BAEF; /* Color de texto azul */
    }

    #TableSortCatId tr > a:hover td {
        color: #00BAEF; /* Color de texto azul */
    }

    #TableSortCatId tr:hover td, tr:hover a {
        color: #00BAEF !important; /* Color de texto azul */
    }


    #txtProducto {
        width: 100%;
    }
</style>



<!-- Start Layout Country Profile -->
<header id="headerl3" style="height: 165px;">
    <div class="inner-header-country">
        <h1  id="ly3-titulo" style="padding-top:3%;">
            @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-descubrecomercioexterior", culture) @ViewBag.PaisCap
            <img   id="ly2-img" src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
        </h1>
        <div class="line-bottom"> </div>
    </div>
</header>

<input type="hidden" id="idPaisValor" value="@ViewBag.Idpais" />
<input type="hidden" id="cultureValue" value="@ViewBag.CultureValue" />
<input type="hidden" id="idPaisCapValor" value="@ViewBag.PaisCap" />

<input type="hidden" id="LayoutCP" value="@ViewBag.LayoutCP" />
<input type="hidden" id="RutaCP_ES" value="@ViewBag.RutaCP_ES" />
<input type="hidden" id="RutaCP_EN" value="@ViewBag.RutaCP_EN" />


<section class="LinksNav l3-nav" id="LinkNav2e">
    @if (culture == "en")
    {

        ruta1 = String.Format("/en/countries/{0}/exports", @ViewBag.FriendlyNameES);
        ruta2 = String.Format("/en/countries/");
    }
    else
    {

        ruta1 = String.Format("/es/paises/{0}/exportaciones", @ViewBag.FriendlyNameES);
        ruta2 = String.Format("/es/paises/");
    }

    <ol class="breadcrumb breadcumb-l3">
        @*<li><a href="@ruta2" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-inicio", culture).ToString()</a>
        <li><a href="@ruta1" style="color: #0B5E7D;">@breadNameShort</a></li>
        <li><a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString()</a></li>
        <li class="active" style="color: #0B5E7D;"><b>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisProductos", culture).ToString()</b> </li>*@

        <a href="@ruta2" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-inicio", culture).ToString()&nbsp;/</a>
        <a href="@ruta1" style="color: #0B5E7D;">@breadNameShort&nbsp;/</a>
        <a href="@ruta1" style="color: #0B5E7D;">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisExportaciones", culture).ToString()&nbsp;/</a>
        <b>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisProductos", culture).ToString()</b> 
    </ol>
</section>




<section class="InfoGeneral ly3-InfoGeneral">
    <div class="row flexbox" id="ly3-row-flexbox">
        <div class="col-md-6">
            <h4 id="ly3-h4" style="color: #0B5E7D; font-size: 23px">
                @Html.Raw(@ViewBag.SubtitleNro2)
            </h4>
        </div>

        <div class="col-md-6" style="padding-left:20px">
            <div class="DetailsBoxResume" style="padding-right:3%;">
                <h3  class="ly3-DetailsBoxResume-h3"  style="font-size: 30px; margin-top: -2px;">@ViewBag.ExportadoresP</h3>
                <h4   class="ly3-DetailsBoxResume-h4" style="font-size:27px">@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-productos", culture)</h4>
                <img src="~/Content/Images/icons/icon_business.svg" alt="" />
            </div>
            <!--Empresa Exportacion-->
            <div class="">
                <div class="HeaderColumn">
                    <!-- Busqueda empresa -->
                    <div class="t_buscar"  id="t_buscarl3" style=" width: 99%; padding-top: 7px; padding-left: 0%;">

                        @Html.Hidden("slug")
                        @*<input type="search" id="txtEmpresa" style=" border-radius: 8px;"
                            placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarEmpresas", culture)">*@
                        <input type="text" id="txtProducto" class="custom-input with-bg" placeholder="@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisBuscarProductos", culture)">

                        <div id="autocompleteEmpresa" style="width:330px !important" class="autocomplete_content"></div>

                        <div id="loadingPageAdmin" class="loader"
                             style="position: absolute; left: auto; width: auto; right: 30px; top: 100%; display: none; ">
                            <div class="objectLoading"></div>

                            <button id="searchP" type="buttoncp2" onclick="ga('send', 'event', 'boton', 'click', 'buscar')" hidden>@Resources.Search_Button</button>
                        </div>
                        <!-- Fin Busqueda empresa -->

                    </div>
                    <!-- Fin Busqueda empresa -->

                </div>
            </div>
        </div>
        </div>
</section>

<section class="TableSortCat-Header">
    <table class="table table-bordered table-striped mb-0">
        <tr>
            <th id="l3-columna1"  class="l3-columna1"  style="text-align:left!important; width:42% !important ">
                @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-tablacategorias", culture) (@ViewBag.countCategoria)
            </th>

            <th style="text-align:right!important" class="ViewSubCats  ly3-subcatgories ">

                @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-subcategorias", culture)  (@ViewBag.countSubCategorias)
            </th>

            <th id="l3-columna2"  class="l3-columna2" style="text-align:right!important" class="empresa-col-l3"  onclick="sortTable(2)">

                @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-productos", culture)
                <i class="fa fa-arrow-up" id="trueEmpresa" style="color: #00BAEF"></i><i class="fa fa-arrow-down" id="falseEmpresa" style="color: #00BAEF"></i>
            </th>

            <th class="td-right" id="usdCol" style="color: rgb(0, 186, 239);" onclick="sortTable(3)">
                <span class="hidden-lg hidden-md hidden-sm"> USD$ </span>

                <span class="ViewSubCats ly3-col-usd"> USD$ </span>  
                <span class=" ViewSubCats  hidden-xs">
                       @Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-ultimoanio", culture)
                </span><i class="fa fa-arrow-up" id="trueUsd" style="color: #00BAEF"></i><i class="fa fa-arrow-down" id="falseUsd" style="color: #00BAEF"></i>
                 <span class="hidden-lg hidden-md hidden-sm"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

            </th>

        </tr>

    </table>

</section>


<section class="TableSortCat table-wrapper-scroll-y custom-scrollbar">

    <table id="TableSortCatId" class="table table-bordered table-striped mb-0">

      @foreach (var col in listaSub)
      {
          //aaaaaaa  Index(string culture, string paisNombre, string item,string nombreitem )
          if (culture == "en")
          {

              rutaI = String.Format("/en/countries/{0}/exports/products/{1}", @ViewBag.FriendlyNameES, @col.CategoriaSlugES);
          }
          else
          {


              rutaI = String.Format("/es/paises/{0}/exportaciones/productos/{1}", @ViewBag.FriendlyNameES, @col.CategoriaSlugES);
          }
            <tr>
                @*<a href="@Url.Action( "Index", "PaisExportacionesProductosItem", new { culture = ViewBag.CultureValue, paisNombre = ViewBag.FriendlyNameES, nombreitem = @col.ShorCategoriaES })">*@
                <td class="ly3-col-datos1" style="width:42% !important">
                    @*@Html.ActionLink(@col.ShorCategoriaES.ToString(), "Index", "PaisExportacionesProductosItem", new { culture = ViewBag.CultureValue, paisNombre = ViewBag.FriendlyNameES, item = 1, nombreitem = @col.CategoriaSlugES }, new { @style = "color:#0B5E7D;" })*@
                    <a href="@rutaI" style="color:#0B5E7D;">@col.CategoriasES.ToString()</a>
                </td>
                <td class="td-center ViewSubCats number ly3-col-datos2">
                    @col.Nsubcategorias
                </td>
                <td id="tdl1" class="td-center number ly3-col-datos3 ">

                    @*@Html.ActionLink(@col.NEmpresas.ToString(), "Index", "PaisExportacionesEmpresasItem", new { culture = ViewBag.CultureValue, paisNombre = ViewBag.FriendlyNameES, item = 1, nombreitem = @col.ShorCategoriaES }, new { @style = "color:#0B5E7D;" })*@
                    @*@Html.ActionLink(@col.NEmpresas.ToString(), "Index", "PaisExportacionesProductosItem", new { culture = ViewBag.CultureValue, paisNombre = ViewBag.FriendlyNameES, item = 1, nombreitem = @col.CategoriaSlugES }, new { @style = "text-decoration:underline !important;" })*@
                    <a href="@rutaI" style="text-decoration:underline !important;">@col.NEmpresas.ToString()</a>
                </td>
                <td class="td-right number  ly3-col-datos4">
                    @col.ValorStr
                </td>
                @*</a>*@
                @*<td class="hidden-">@col.Valor</td>*@
            </tr>
        }


    </table>

</section>


<section class="SimpleBanner">
    <div class="ContainerBox">
        <div class="row">
            <div class="TitleBanner">
                <h3>@Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simpleconveritrade", culture))  </h3>
            </div>
            <div class="col-md-6">
                <div class="TittleTest flexbox">

                    <img src="~/Content/Images/icons/icon_data.svg" />
                    <h4>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simplereducirlostiempos", culture)</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="TittleTest flexbox">
                    <img src="~/Content/Images/icons/icon_conections.svg" />
                    <h4>@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PD-Simplerobtenerladata", culture)</h4>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="Marquee">
    <div class="TittleMarquee">
        @if (@ViewBag.ExportacionEmpresasCount != "0")
        {
            <h4>
                @Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisScrollCabecera", culture)) @ViewBag.PaisCap
                <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
            </h4>

        }
        else
        {
            <h4>
                @Html.Raw(@Veritrade2017.Helpers.ResourceHelper.GetResourceString("PaisScrollCabecera2", culture)) @ViewBag.PaisCap
                <img src="@Url.Content(ViewBag.FlagPaisActual)" alt="" />
            </h4>

        }
        <div class="LineTitle" style="margin-top: 5px;"></div>
        @if (@ViewBag.ExportacionEmpresasCount != "0")
        {
            <marquee id="MarqEnter" scrolldelay="100" scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
                @foreach (var item in ListaEmpresaBanner)
                {
                    <a href="@item.Uri">@item.ShortNombreES</a>
                }
            </marquee>
        }

        <marquee id="MarqProduc" direction="right" scrolldelay="100" scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();">
            @foreach (var item in ListaProductoBanner)
            {
                <a href="@item.Uri">@item.ShortNombreES</a>
            }
        </marquee>
    </div>
</section>

<!-- End Layout Country Profile -->
<!-- End Layout Country Profile -->
<!-- JavaScript Includes -->






<script src="/Scripts/jquery.min.js"></script>
<script src="/Scripts/transition.js"></script>
<script src="/Scripts/collapse.js"></script>
<script>
    var ascending = true;
    var columxx = 3;
    var coloroscuro = "#0B5E7D";
    var colorclaro = "#00BAEF";

    function sortTable(col) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("TableSortCatId");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 0; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[col];
                y = rows[i + 1].getElementsByTagName("TD")[col];
                if (col == 2 || col == 3) {
                    // Si la columna es numérica, convierte el texto en número para comparar
                    x = parseFloat(x.textContent.replace(/[^0-9.-]+/g, ""));
                    y = parseFloat(y.textContent.replace(/[^0-9.-]+/g, ""));
                } else {
                    // Si la columna no es numérica, realiza la comparación de cadenas
                    x = x.textContent.toLowerCase();
                    y = y.textContent.toLowerCase();
                }

                // Verificar el estado de ordenación y cambiar la condición en consecuencia
                if (ascending) {
                    if (x > y) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (x < y) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }


        if (col == 2) {

            var colx = document.getElementById("l3-columna2");
            colx.style.color = colorclaro

            var colx = document.getElementById("usdCol");
            colx.style.color = coloroscuro;

        }
        if (col == 3) {
            var colx = document.getElementById("l3-columna2");
            colx.style.color = coloroscuro

            var colx = document.getElementById("usdCol");
            colx.style.color = colorclaro

        }
        // Cambiar el estado de ordenación para la próxima vez
        ascending = !ascending;
    }


    function ordenarColumna(ascendente, n, col) {
        console.log("recibe ", n);
        columxx = n;


        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("TableSortCatId");
        switching = true;
        var columnIndex = n;

        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 0; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                // Obtener los dos elementos que se compararán
                x = parseFloat(rows[i].getElementsByTagName("TD")[columnIndex].innerText.replace(/[^0-9.-]+/g, ""));
                y = parseFloat(rows[i + 1].getElementsByTagName("TD")[columnIndex].innerText.replace(/[^0-9.-]+/g, ""));

                // Comprobar si se debe cambiar el orden
                ascending = !ascending;
                ascendente = ascending;
                console.log(ascendente);
                if (ascendente) {
                    if (x > y) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (x < y) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                // Si debe cambiar el orden, intercambiar y marcar que se hizo un cambio
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;

            }
        }

        // Resaltar el ícono seleccionado
        var icons = document.querySelectorAll('.fa-arrow-up, .fa-arrow-down');
        for (var j = 0; j < icons.length; j++) {
            icons[j].style.color = '';
        }
        var coloroscuro = "#0B5E7D";
        var colorclaro = "#00BAEF";


        if (col == "l3-columna2") {

            var colx = document.getElementById("l3-columna2");
            colx.style.color = colorclaro
            //var colx = document.getElementById("trueEmpresa");
            //colx.style.color = coloroscuro;
            //var colx = document.getElementById("falseEmpresa");
            //colx.style.color = coloroscuro;
            var colx = document.getElementById("usdCol");
            colx.style.color = coloroscuro;

        }
        if (col == "usdCol") {
            var colx = document.getElementById("l3-columna2");
            colx.style.color = coloroscuro
            var colx = document.getElementById("usdCol");
            colx.style.color = colorclaro
            //var colx = document.getElementById("trueUsd");
            //colx.style.color = coloroscuro;
            //var colx = document.getElementById("falseUsd");
            //colx.style.color = coloroscuro;
        }

        // event.target.style.color = '#00BAEF';
    }
</script>