@using Veritrade2018.Models
@using Veritrade2018.Helpers
@{
    var culture = CultureHelper.GetCurrentNeutralCulture();
    var codCampania = ViewData["CodCampaña"];
    if (Session["c"] != null && Session["c"].ToString() != "")
    {
        codCampania = Session["c"].ToString();
    }
}
<div class="jumbotron banner">
    <div class="container">
        <div class="banner_section">
            <div class="banner_content row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <h3>@Configuraciones.GetConfig(culture, "banner_home").Valor</h3>
                    <img class="underline-image hidden-xs" src="~/Content/Images/transparente.gif" alt="">
                    <p>
                        @Html.ActionLink(Resources.Resources.TrialText, "Index", "PruebaGratis", new { culture, campania = codCampania }, new { @class = "banner_link hidden-xs" })
                    </p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4" style="text-align: center;">
                    <div class="row">
                        <div class="owl-carousel" id="videosCarousel">
                            <div class="item-video">
                                <a class="owl-video" href="@Configuraciones.GetConfig(culture, "video_home").Valor"></a>
                                <span>@Configuraciones.GetConfig(culture, "video_title").Valor</span>
                            </div>
                            @foreach (AyudaVideo video in (List<AyudaVideo>)ViewData["videos"])
                            {
                                <div class="item-video">
                                    <a class="owl-video" href="@video.UrlVideo"></a>
                                    <span>@video.TituloVideo</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>