@using Veritrade2018.Models.Admin
@{
    var objFavoriteByGroup = (FavoriteByGroup) Model;

    var idsSeleccionados = objFavoriteByGroup.IdsSeleccionados;
    bool verificarCheckBox = (idsSeleccionados != null && idsSeleccionados.Count > 0);
}
@foreach (var favorite in objFavoriteByGroup.Favorites)
{
    <tr>
        <td>
            @favorite.Index
        </td>
        @if (objFavoriteByGroup.FavoriteHead.IsVisibleNandina)
        {
            <td>
                @favorite.Nandina
            </td>
        }
        <td>
            @favorite.Favorito
        </td>
        @if (objFavoriteByGroup.FavoriteHead.IsVisibleRuc)
        {
            <td>
                @favorite.RUC 
            </td>
        }
        <td class="text-center">
            @if (verificarCheckBox)
            {
                if (idsSeleccionados.Contains(favorite.IdFavorito))
                {
                    <input type="checkbox" name="name" value="@favorite.IdFavorito" checked="checked" />
                }
                else
                {
                    <input type="checkbox" name="name" value="@favorite.IdFavorito" />
                }
            }
            else
            {
                <input type="checkbox" name="name" value="@favorite.IdFavorito" />
            }
        </td>
    </tr>
}