@using Veritrade2018.Models.Admin
@{
    var objAdminMyGroup = (AdminMyGroup) Model;
    var idsSeleccionados = objAdminMyGroup.IdsSeleccionados;
    bool verificarCheckBox = (idsSeleccionados != null && idsSeleccionados.Count > 0);
}
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <thead>
        <tr class="table-title">
            <th class="text-center column-width-min">
                No.
            </th>
            <th class="text-center column-width-sm">
                @Resources.MiPerfil.Group_Text
            </th>
            <th class="text-center column-width-min">
                @Resources.MiPerfil.Select_Text
            </th>
        </tr>
        </thead>
        <tbody id="tbodyAdminMyGroups">
        @foreach (var grupo in objAdminMyGroup.GruposFavoritos)
        {
            <tr>
                <td class="text-center">@grupo.Index</td>
                <td>
                    <div class="info-grupo-tabla">
                        <p class="wspace-normal">
                            @Html.Raw( "<label id=\"labelGroup"+grupo.IdGrupo+"\" >"+ grupo.Grupo + "</label> (" + grupo.CantidadFavoritos + " " + Resources.AdminResources.Favorites_Word.ToLower() + ")")
                        </p>

                        <div class="text-center">
                            <a href="javascript:void(0)"
                               data-idgrupo="@grupo.IdGrupo" 
                               class="lnkOperacionesColumnaTabla lnkShowfavorites clickShowFavorites">
                                @Resources.MiPerfil.ShowFavorites_Text
                            </a>

                            <a href="javascript:void(0)" 
                               data-id-form-modifygroup="@("formModifyGroup"+grupo.IdGrupo)"
                               data-idlabelgroup="@("labelGroup"+grupo.IdGrupo)"
                               data-id-txtgroup="@("txtGroup"+grupo.IdGrupo)"
                               class="lnkOperacionesColumnaTabla lnkEditGroup clickModifyGroup">
                                @Resources.MiPerfil.ModifyGroup_Text
                            </a>
                        </div>
                    </div>
                    
                    <div id="@("formModifyGroup"+grupo.IdGrupo)" class="div-informacion-a-editar no-display">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                @Html.TextBox("txtGroup"+grupo.IdGrupo, grupo.Grupo, new { @class = "form-control" })
                            </div>
                            <a href="javascript:void(0)"
                               data-id-txtgroup="@("txtGroup"+grupo.IdGrupo)"
                               data-idgroup="@grupo.IdGrupo"
                               class="clickSaveUpdateGroup">
                                @Resources.MiPerfil.Save_Text
                            </a>

                            <a href="javascript:void(0)"
                               data-id-form-modifygroup="@("formModifyGroup"+grupo.IdGrupo)"
                               class="clickCancelModifyGroup">
                                @Resources.AdminResources.Cancel_Text
                            </a>
                        </form>
                    </div>

                </td>

                <td class="text-center center-vertical">
                    
                    @if (verificarCheckBox)
                    {
                        if (idsSeleccionados.Contains(grupo.IdGrupo))
                        {
                            <input class="mt_m8" type="checkbox" name="name" value="@grupo.IdGrupo"  checked="checked" />
                        }
                        else
                        {
                            <input class="mt_m8" type="checkbox" name="name" value="@grupo.IdGrupo" />
                        }
                    }
                    else
                    {
                        <input class="mt_m8" type="checkbox" name="name" value="@grupo.IdGrupo" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    @if (objAdminMyGroup.TotalPaginas > 1)
    {
        <div id="divPagingAdminMyGroups">
            <nav aria-label="Page navigation" class="text-center">
                <ul id="pagingAdminMyGroups" class="pagination pagination-sm pagination-tab-my"></ul>
            </nav>
        </div>
    }

</div>
