@using Veritrade2017.Models
@{
    var modelo = (CorreoConfirmacion)Model;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Veritrade
    </title>
</head>

<body style="margin: 0;">
    <form name="form1" method="post" action="./Correos.aspx?Opcion=INFO_COMPRA&amp;CodUsuario=FANNY123&amp;PlanId=1" id="form1">

        <div id="pnlInfoCompra">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td bgcolor="#f4f4f5">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="1%">
                                    <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="70" />
                                </td>
                                <td width="98%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="20%">
                                                <img src="http://business.veritrade.info/imagenes_mail/logo.png" width="75" height="45" />
                                            </td>
                                            <td width="70%" align="right">
                                                <table border="0" cellpadding="0" cellspacing="0" style="white-space: nowrap;">
                                                    <tr>
                                                        <td>
                                                            <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="38" />
                                                        </td>
                                                        <td>
                                                            <img src="http://business.veritrade.info/imagenes_mail/separador_sup.png" width="29" height="38" />
                                                        </td>
                                                        <td>
                                                            <a href="#" style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 20px; text-decoration: none; color: #212936;">info@veritrade-ltd.com </a>
                                                        </td>
                                                        <td>
                                                            <img src="http://business.veritrade.info/imagenes_mail/separador_sup.png" width="29" height="38" />
                                                        </td>
                                                        <td>
                                                            <a href="#" style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 20px; text-decoration: none; color: #212936;">www.veritradecorp.com</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="1%">
                                    <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="70" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="1%">
                                    <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="90" />
                                </td>
                                <td width="98%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 20.3px; line-height: 28px; text-decoration: none; color: #65a5e2;">@Resources.Mail_Welcome_Title</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 20.3px; line-height: 28px; text-decoration: none; color: #212936;">@Resources.Mail_Title_Name @modelo.nombre - Veritrade</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-size: 13px; line-height: 18px; text-decoration: none; color: #212936;">
                                                @Resources.Mail_Thank_Msg
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-size: 13px; line-height: 18px; text-decoration: none; color: #212936;">
                                                @Resources.Mail_Detail_Msg
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-size: 15.5px; line-height: 22px; text-decoration: none; color: #212936;">
                                                <label style="font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 22px; text-decoration: underline; font-weight: bold;">@modelo.nombrePlan - @Resources.Mail_Suscription_Msg - @modelo.valorPlan</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-size: 13px; line-height: 18px; text-decoration: none; color: #212936;">@Resources.Mail_Contact_Msg</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="35" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana, Geneva, sans-serif; font-size: 13px; line-height: 18px; text-decoration: none; color: #212936;">
                                                <span style="font-family: Verdana, Geneva, sans-serif; font-size: 20px; line-height: 22px; text-decoration: none; color: #212936;">Veritrade </span>
                                                <br />
                                                e : info@veritrade-ltd.com<br />
                                                w : www.veritradecorp.com
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="50" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="1%">
                                    <img src="http://business.veritrade.info/imagenes_mail/transparente.gif" width="40" height="90" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>


    </form>
</body>
</html>