@using Veritrade2018.Helpers
@{
    var culture = CultureHelper.GetCurrentNeutralCulture();
    var isDemo = (bool)(ViewData["IsDemo"] ?? false);
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*Ruben 202301*@
    <meta name="robots" content="noindex">

    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Images/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="@ViewBag.Description">

    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)

    <!-- Facebook Pixel Code -->
    <script>
    !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '2414261925547103'); fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=2414261925547103&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
    @if (!isDemo)
    {
        @RenderPage("~/Views/Shared/Partials/AdminInfoBar.cshtml")
    }

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <!--JANAQ 040620-->
    <!--SDK MIX PANEL-->
    <script>
        $(document).ready(function () {
             //(validacion para evitar trackear enlaces de universidades y DEMO)
            if (getCookie("VLU") != "1" && getCookie("IsDemo") != "1") {
                (function (c, a) {
                    if (!a.__SV) {
                        var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                            function c(b, i) {
                                var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                                    b.push([i].concat(Array.prototype.slice.call(arguments,
                                        0)))
                                }
                            } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                            for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
                        }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                            MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
                    }
                })(document, window.mixpanel || []);
                var productionHost = 'business2.veritradecorp.com';
                var devToken = '053aecdbb1d7f21263deb0c139374723';
                var prodToken = '24afa81fa167622c3b101ea05504ec68';

                //Si el hostname es diferente a produccion se usara el token de desarrollo 
                if (window.location.hostname.toLowerCase().search(productionHost) < 0) {
                    mixpanel.init(devToken, { batch_requests: true });
                } else {
                    mixpanel.init(prodToken, { batch_requests: true });
                }

                // Identificando al usuario Mix Panel
                var USER_ID = "@Html.Raw(Session["IdUsuario"])";
                mixpanel.identify(USER_ID);
            }
        });


    </script>

    <script src="@Url.Content("~/Scripts/MixPanel/MenuPrincipalMP.js?1")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#idioma").click(function () {
                $("#form-language").submit();
            });
            if ($('#toggleAlert').length) {

                function toggleAlertSend(urlPost) {
                    console.log(urlPost);
                    $.ajax({
                        type: "POST",
                        url: urlPost,
                        beforeSend: function () {
                            LoadingAdminPage.showOrHideLoadingPage(true);
                        },
                        success: function (response) {
                            if (response === 'True') {
                                console.log('@Resources.AdminResources.NavBar_EnAlert')
                                $('#toggleAlert').html('@Resources.AdminResources.NavBar_EnAlert');
                            } else {
                                console.log('@Resources.AdminResources.NavBar_DisAlert')
                                $('#toggleAlert').html('@Resources.AdminResources.NavBar_DisAlert');

                            }
                            LoadingAdminPage.showOrHideLoadingPage(false);
                        }
                    });
                }
                $('#toggleAlert').click(function () {
                    toggleAlertSend('@Url.Action("ToggleAlertSend", "MisAlertasFavoritos")');

                });

            }
        });
    </script>
</body>
</html>
