
<div class="modal fade modal-consulta" tabindex="-1" role="dialog" id="ModalInfoColombia2021">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 20px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close-modal" aria-hidden="true">&times;</span>
                </button>
                <img src="~/Content/Images/veritrade_logo.png" witdh="50" height="50" alt="Alternate Text" />
                <h4 class="modal-title text-center">
                    <strong> @Resources.Resources.Info_COL21_Titulo</strong>
                </h4>
            </div>
            <br />
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div style="text-align: justify;">
                            <p>@Resources.Resources.Info_COL21_Receptor</p>
                            <p>@Resources.Resources.Info_COL21_Parrafo_1</p>
                            <p>@Resources.Resources.Info_COL21_Parrafo_1a</p>
                            <p>@Resources.Resources.Info_COL21_Parrafo_2</p>
                            <p>@Resources.Resources.Info_COL21_Parrafo_3</p>
                            <p>@Resources.Resources.Info_COL21_Parrafo_4</p>
                            <p>@Resources.Resources.Info_COL21_Despedida </p>
                            <p>@Resources.Resources.Info_COL21_Emisor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

