@using Veritrade2017.Helpers
@using Veritrade2017.Models
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var servicios = (List<Servicios>) ViewData["serviciosMenu"];
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string[] OrganicEmpCods = { "20100", "20100m", "20100I", "20100mI" };
    string[] OrganicProdCods = { "20200", "20200I", "20200m", "20200mI" };
    //var codCampania = ViewData["CodCampaña"];
    //if (Session["c"] != null && Session["c"].ToString() != "")
    //{
    //    codCampania = Session["c"].ToString();
    //}

    //var objCamp = ViewData["oc"] as Campania;
    var sty = ((Campania.TYPE_CAMPANIA)((int?)Session["TypeCampania"] ?? 0));

    var CodesCampanias = Campania.CodFormateds3((ViewData["CodesCampanias"] as Dictionary<Campania.CONTROL, string>), culture, Request.Browser.IsMobileDevice, sty);

    //var CodesCampanias = ViewData["CodesCampanias"] as Dictionary<Campania.CONTROL, string>;

    var values = RouteDataContext.RouteValuesFromUri(Request.UrlReferrer);
    var campania = "";
    if (values != null && sty == Campania.TYPE_CAMPANIA.ORGANIC)
    {
        var contr = values["controller"].ToString();
        if (values["campania"] != null)
        {
            campania = values["campania"].ToString();
        }
        if (new[] { "Empresas", "Minisite" }.Contains(/*values["controller"]*/controller) || (OrganicEmpCods.Contains(campania) && contr == "PruebaGratis" && controller.Equals("PruebaGratis"))
            || (new[] { "Empresas", "Minisite" }.Contains(values["controller"]) && controller.Equals("PruebaGratis")))
        {
            if (culture != "es")
            {
                CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] = Campania.CodesOrganics[Campania.CONTROL.BUSCAR_EMPRESAS_EN];
            }
            else
            {
                CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] = Campania.CodesOrganics[Campania.CONTROL.BUSCAR_EMPRESAS];
            }
            CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] += Request.Browser.IsMobileDevice ? "m" : "";
        }
        if (new[] { "Productos", "ProductoPerfil" }.Contains(/*values["controller"]*/controller) || (OrganicProdCods.Contains(campania) && contr == "PruebaGratis" && controller.Equals("PruebaGratis"))
            || (new[] { "Productos", "ProductoPerfil" }.Contains(values["controller"]) && controller.Equals("PruebaGratis")))
        {
            if (culture != "es")
            {
                CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] = Campania.CodesOrganics[Campania.CONTROL.BUSCAR_PRODUCTOS_EN];
            }
            else
            {
                CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS] = Campania.CodesOrganics[Campania.CONTROL.BUSCAR_PRODUCTOS];
            }

        }
    }
}

<footer class="footer">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>@Resources.Footer_SiteMap</h4>
                <p>
                    @if (culture == "es")
                    {
                        @Html.RouteLink(Resources.MenuItem01, "Servicios", new { culture, slug = servicios[0].Slug }, new { })
                    }
                    else
                    {
                        @Html.RouteLink(Resources.MenuItem01, "ServiciosUS", new { culture, slug = servicios[0].Slug }, new { })
                    }
                    
                </p>
                <p>
                    @if (culture == "es")
                    {
                        @Html.RouteLink(Resources.MenuItem02,"Ayuda", new {culture}, new { })
                    }
                    else
                    {
                        @Html.RouteLink(Resources.MenuItem02, "AyudaUS", new { culture }, new { })
                    }
                </p>
                <p>@Html.ActionLink(Resources.MenuItem03, "Index", "Consulta", new {culture}, new {})</p>
                <p>
                    @if (culture == "es")
                    {
                        @Html.RouteLink(Resources.MenuItem04, "Paises", new { culture, slug = "PER" }, new { })
                    }
                    else
                    {
                        @Html.RouteLink(Resources.MenuItem04, "PaisesUS", new { culture, slug = "PER" }, new { })
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
                <h4>&nbsp;</h4>
                <p>
                    @Html.RouteLink(Resources.MenuItem05, "Planes" + (culture == "es" ? "" : "US"), new {culture, campania = (culture == "en" ? CodesCampanias[Campania.CONTROL.PLANES_EN] : CodesCampanias[Campania.CONTROL.PLANES]) }, new {})
                </p>              
                <p>
                    @Html.RouteLink(Resources.MenuItem09, "Empresas" + (culture == "es" ? "" : "US"), new {culture, campania = CodesCampanias[Campania.CONTROL.BUSCAR_EMPRESAS]}, new {})
                </p>
                <p>@Html.ActionLink(Resources.MenuItem06, "Index", "Blog", new { culture }, new { })</p>
                <p>
                    @Html.RouteLink(Resources.TrialText, "PruebaGratis" + (culture == "es" ? "" : "US"), new {culture, campania = CodesCampanias[Campania.CONTROL.PRUEBA_GRATIS]}, new {@class = "link_footer hidden-xs"})
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4>@Resources.MenuItem07</h4>
                <p>@Resources.Footer_Email: @Configuraciones.GetConfig(culture, "email_footer").Valor</p>
                @*<p>@Resources.Footer_Phone: @Configuraciones.GetConfig(culture, "phone_footer").Valor</p>*@
                <div>
                    <p>
                        <span style="margin-right:1%;"><img class="iconoBandera" src="" /></span>
                        <span class="nombrePais" style="margin-right:1%;"></span>
                    </p>
                    <p>
                        <span>
                            <img src="@Url.Content("~/Content/Images/ico_telefono.jpg")" width="18" height="18" alt="" />
                        </span>
                        <span>
                            <a class="hrefTelefonoPais" href="#"><span class="telefonoPais"></span></a>
                        </span>
                    <p/>
                </div>
                <br>
                <p>
                    <b>@Resources.Footer_Searchby: </b>
                    <a href="https://www.facebook.com/veritrade/" target="new">
                        <img src="@Url.Content("~/Content/Images/ico_social01_off.jpg")" class="pie_icon" alt=""/>
                    </a>
                    <a href="https://plus.google.com/u/0/105745704279265511357/posts" target="new">
                        <img src="@Url.Content("~/Content/Images/ico_social02_off.jpg")" class="pie_icon" alt=""/>
                    </a>
                    <a href="https://www.linkedin.com/company/veritrade-analysis" target="new">
                        <img src="@Url.Content("~/Content/Images/ico_social03_off.jpg")" class="pie_icon" alt=""/>
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <p>
                    &#64;2015 Veritrade &nbsp;&#124;&nbsp; @Resources.Footer_AllRightsReserved &nbsp;&#124;&nbsp;
                    @Html.ActionLink(Resources.Footer_TermsConditions, "", null, new {href = "#ModalTerminosCondiciones", data_toggle = "modal"})
                </p>
            </div>
        </div>
    </div>
</footer>