@using Veritrade2017.Models
@{
    var modelo = (ConsultaForm)Model;
}
<div class="tab-pane" id="tab-exportadores">
    <div class="row">
        <div class="col-xs-12 col-sm-12 divTabMessageExcel">
            @Resources.Demo_ExcelDonwloadMessage_Part1
            <span class="spanTabMessageExcel">
                @(modelo.TipoOpe == "I" && modelo.CodPais == "CL" ? Resources.Demo_Brands_Tab : @Resources.Demo_Exporters_Tab )
            </span>
            @Resources.Demo_ExcelDonwloadMessage_Part2&nbsp;
            <a class="downloadExcel">
                <img src="~/Content/Images/bot_excel_off.png" width="24" height="24" class="ico_excel" alt="" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 columnTabExportadores">
            <div class="table-responsive">
                <table id="table-tabExportadores" class="table cell-border compact datatable-page-demo" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @(modelo.TipoOpe == "I" && modelo.CodPais == "CL" ? Resources.Demo_Brands_Tab : @Resources.Demo_Exporters_Tab )
                                <br />
                                <select id="cboTabExportadoresImportOrExport"
                                        data-filtro-cbo='@(modelo.TipoOpe == "I" ? "Proveedor" : "Exportador")'
                                        class="form-control filter-select-datatable cboFiltoDataTable">
                                    <option value="0" selected="selected">
                                        @Resources.Option_Filter_All
                                    </option>
                                </select>
                            </th>
                            <th> @Resources.Grid_Column_SeeRecords</th>
                            <th>
                                Total US$ @modelo.Cif
                                @*@(modelo.TipoOpe == "I" ? Resources.Resources.Grid_ColumnHeader_ImportCIF : Resources.Resources.Grid_ColumnHeader_ExportCIF)*@
                            </th>
                            <th>%</th>
                            <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>

                <div class="section-btn-tabs">
                    <button id="btnTabAddExportadoresImportOrExport" class="btn pull-right" data-filtro-chk="@(modelo.TipoOpe == "I" ? "Proveedor" : "Exportador")">
                        @Resources.Add_Filter_Search_Button
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div id="pieChartExporters" style="width: 100%; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>